$black: #000;
$white: #fff;
$primary: #e73105;

$color-bg: $black;
$color-bg-meta: $primary;
$color-text: $white;

$font-body: 'SF mono', mono-space;
$font-headers: 'Cinzel', serif;

$leading-headers: 1.2;
$leading-body: 1.5;
