<nav class="nav-main">
  <button class="button_close button">close</button>
  {% button
  url = '/projects' | url,
  label = 'Projects',
  size = 'large' %}

  <div class="nav__projects">
    {% for project in projects %}
      {% button
      label = project.title %}
    {% endfor %}
  </div>

  {% button
  url = '/about' | url,
  label = 'About',
  size = 'large' %}
</nav>