<nav class="nav-main">
      <button class="close button">close</button>
      <a class="button button_large" href="{{ '/projects' | url }}">Projects</a>
      <a class="button button_large" href="{{ '/about' | url }}">Info</a>

</nav>