<nav class="nav-main">
      <button class="close button">close</button>
      <a class="button" href="{{ '/projects' | url }}">Projects</a>
      <a class="button" href="{{ '/about' | url }}">Info</a>


</nav>