<footer class="site-footer grid bg-inverted">
  <div class="site-footer__contact">
    <p class="text-xl">
      For questions and inquiries, please send an e-mail to
      <a href="mailto:hello@erikgelderblom.com">hello@erikgelderblom.com</a>
    </p>
  </div>

  <nav class="site-footer__nav text-s">
    {# {%- button
      url = 'mailto:hello@erikgelderblom.com' | url,
      label = 'e-mail',
      name = 'button_plain',
      attr = 'rel="noopener noreferrer" target="_blank"'
    -%} #}

    {%- button
      url = 'https://twitter.com/erikgelderblom' | url,
      label = 'twitter',
      name = 'button_plain',
      attr = 'rel="noopener noreferrer" target="_blank"'
    -%}

    {%- button
      url = 'https://github.com/erikfontanel"' | url,
      label = 'github',
      name = 'button_plain',
      attr = 'rel="noopener noreferrer" target="_blank"'
    -%}

    {%- button
      url = 'https://linkedin.com/in/erikgelderblom' | url,
      label = 'linkedin',
      name = 'button_plain',
      attr = 'rel="noopener noreferrer" target="_blank"'
    -%}
  </nav>

  <p>extremely online since 1998</p>
</footer>