<footer class="site-footer grid">
  <div class="site-footer__contact">
    <p class="text-xl">
      For questions and inquiries, please send an e-mail to
      <a href="mailto:hello@erikgelderblom.com">hello@erikgelderblom.com</a>
    </p>
  </div>
    <nav class="site-footer__nav">
      <a class="text-link" href="mailto:hello@erikgelderblom.com">e-mail</a>
      <a class="text-link" href="https://twitter.com/erikgelderblom" rel="noopener noreferrer" target="_blank">twitter</a>
      <a class="text-link" href="https://github.com/erikfontanel"  rel="noopener noreferrer" target="_blank">github</a>
      <a class="text-link" href="https://linkedin.com/in/erikgelderblom" rel="noopener noreferrer" target="_blank">linkedin</a>
    </nav>
    <form class="newsletter">
      <input type="email" placeholder="e-mail address"/>
      <button class="button" type="submit" aria-label="subscribe">&rarr;</button>
    </form>
    <p>extremely online since 1998</p>
  </footer>