{%- set cta -%}
  <abbr aria-label="open to job offers" class="jobs-cta">
    Freelance {%- include "cta-jobs.njk" -%}
  </abbr>
{%- endset -%}

<div class="intro">
  <div class="info">
    {% if title %}
      <h1 class="h-m">{{ title }}</h1>
    {% endif %}

    {{ content|replace('Freelance', cta, 1)|safe }}
    {% if about %}
      {% button
        url = about.url,
        label = 'about' if about
        %}
    {% endif %}
  </div>

  {% include "cta.njk" %}
</div>