<div class="intro grid grid:full">
  <div class="info">
    {% block info %}
      {% if title %}
        <h1 class="h-xl">{{- title|replace('Freelance', cta, 1)|safe -}}</h1>
      {% endif %}
      {% if subtitle %}
        <h2 class="h-m">{{ subtile }}</h2>
      {% endif %}
    {% endblock %}
  </div>

  <div class="object grid:full"><canvas class="intro"></canvas></div>
</div>
