{% set subLabel = null %}

<nav class="nav-main">
  <a href="{{ '/work/' | url }}" class="button button_nav">
    <span class="button--label">Work</span>
    {% if sublabel %}
      <span class="button--sub-label">{{ sublabel }}</span>
    {% endif %}
  </a>

  {% button
  url = '/expertise' | url,
  label = 'Expertise',
  name = 'button_nav' %}

  {% button
  url = '/about' | url,
  label = 'About',
  name = 'button_nav' %}

  <ul class="nav-projects">
    {% for project in projects %}
      {% set active = 'active' if page.url === project.url %}

      <li>
        <a href="{{ project.url }}" class="{{ active }}">{{ project.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>