{% macro pageItem(page) %}
  <section class="bg-inverted grid:full card:full">
    <div class="page-item grid grid:wide">
      <h2 class="page-item--title h-xl">{{ page.data.teaser }}</h2>
      <p class="page-item--subtitle text-m">
        {{ page.data.intro }}
      </p>

      {%- button
        url = page.url|url,
        label = page.data.title
      -%}
    </div>
  </section>
{% endmacro %}