<header class="page-header grid:full {{ 'has-image' if thumbnail }}">
  {% if thumbnail %}
    <div class="page-header--img" >
      {% image thumbnail, '', 'thumb', 'auto', 'alt='+page.data.title %}
    </div>
  {% endif %}

  <div class="page-header--text">
    {% if intro %}
      {% block title %}
        <h1 class="page-header--title h-l">{{ title }}</h1>
      {% endblock %}

      {% block intro %}
        <h2 class="page-header--intro h-xl">{{ intro }}</h2>
      {% endblock %}
    {% endif %}
  </div>
</header>