<div class="project-meta text-s">
  <dl>
    {% if role|length %}
      <dt>Role</dt>
      <dd>{{ role }}</dd>
    {% endif %}

    {% if team|length %}
      <dt>Team</dt>
      <dd>{{ team }}</dd>
    {% endif %}
  </dl>
</div>