<nav class="project-nav">
  <a href="{{ '/' | url }}" class="button button_close button_outline inverted" aria-label="close" data-close-modal>
    <span class="button--label">close</span>
  </a>
</nav>