{% set defaults = {
  projects: false
} %}
{% set options = defaults if options === undefined else options %}

<div class="projects ">
  {% for project in options.projects %}
    {% include "project-item.njk" %}
  {% endfor %}
</div>