<div class="project-meta text-xs">
  <h3 class="project-item--client  text-sub h-s">{{ client }}</h3>
  <dl>
    {% if role|length %}
      <dt>Role</dt>
      <dd>{{ role }}</dd>
    {% endif %}

    {% if team|length %}
      <dt>Team</dt>
      <dd>{{ team }}</dd>
    {% endif %}
  </dl>
</div>
