{%- set tags = tags | except('project') if tags -%}

{% if tags|length %}
  <ul class="project-item--tags">
    {% for tag in tags %}
      {%- button
        url = '/work/tagged/' + tag|slug +'/',
        label = tag,
        name = 'label' -%}
    {% endfor %}
  </ul>
{% endif %}