
{%- set hasLink = false -%}
{%- set url = page.url -%}

<header class="project-header {{ single_layout if single_layout else 'portrait:2-col' }} grid:full">

  {% if thumbnail %}
    <div class="project-item--img" >
      {% if single_thumbnail|length %}
        {% set thumbnail = url + single_thumbnail %}
        {% set thumbnail_portrait = thumbnail|replace('.jpg','-portrait.jpg')|replace('.png','-portrait.png') %}
        <picture>
          <source srcset="{{ thumbnail }}?nf_resize=fit&amp;w=320 320w,{{ thumbnail }}?nf_resize=fit&amp;w=1070 1070w,{{ thumbnail }}?nf_resize=fit&amp;w=1820 1820w,{{ thumbnail }}?nf_resize=fit&amp;w=2570 2570w," media="(orientation: landscape)" width="100%" height="auto" alt="{{ title }}" />
          <source srcset="{{ thumbnail_portrait }}?nf_resize=fit&amp;w=320 320w,{{ thumbnail_portrait }}?nf_resize=fit&amp;w=1070 1070w,{{ thumbnail_portrait }}?nf_resize=fit&amp;w=1820 1820w,{{ thumbnail_portrait }}?nf_resize=fit&amp;w=2570 2570w" media="(orientation: portrait)" width="100%" height="auto" alt="{{ title }}" />
          <img src="{{ thumbnail_portrait }}?nf_resize=fit&amp;w=1280" />
        </picture>
      {% else %}
        {% image thumbnail, '', 'thumb', 'auto', title %}
      {% endif %}
    </div>
  {% endif %}

  <div class="project-item--text">
    {% if client %}
      <h3 class="project-item--client text-sub {{ 'h-m' if single_thumbnail else 'h-l' }}">{{ client }}</h3>
    {% endif %}

    {% if title %}
      <h2 class="project-item--title {{ 'h-xl' if single_thumbnail else 'h-xxl' }}">{{ title }}</h2>
    {% endif %}

    {% block projectMeta %}
      {% if role|length or team|length %}
        {% include "./project-meta.njk" %}
      {% endif %}
    {% endblock %}
  </div>
</header>
