{%- set tags =  project.data.tags | except('project') if project.data.tags -%}

<article class="project-item {{ project.data.list_layout }}" href="{{ project.url | url }}">
  {% if project.data.thumbnail %}
    <a href="{{ project.url }}" class="project-item--img" >
      <img src="{{ project.url + project.data.thumbnail | url }}" alt="{{ project.data.title }}"/>
    </a>
  {% endif %}

  <div href="{{ project.url }}" class="project-item--body">
    {% if project.data.client %}
      <h3 class="project-item--client  text-sub h-m"><a href="{{ project.url }}">{{ project.data.client }}</a></h3>
    {% endif %}

    {% if project.data.title %}
      <h2 class="project-item--title h-l"><a href="{{ project.url }}">{{ project.data.title }}</a></h2>
    {% endif %}

    {% if tags %}
      <ul class="project-item--tags">
        {% for tag in tags %}
          {%- button
            url = '/work/tagged/' + tag|slug +'/',
            label = tag,
            name = 'label' -%}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</article>
