%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999em;
  color: var(--button-color, #{$color-text});
  border: 0.0625em solid currentColor;
  font-size: font-size(extra-small);
  line-height: 0.6;
  height: 1.8em;
  padding: 0.25em 1em;
  text-transform: lowercase;
  text-align: center;
  transition: color 0.2s linear;
  background-color: transparent;
  width: max-content;
  user-select: none;
  appearance: button;

  @media (--medium) {
    font-size: font-size(small);
  }

  &:hover {
    color: var(--button-color, #{$color-blue});
  }

  &:active,
  &:focus {
    color: $color-blue;
    outline: none;
    box-shadow: 0 0 0.0625em 0.0625em lighten($color-blue, $amount: 20);
  }
}

.button,
button {
  @extend %button;

  &_large {
    font-size: font-size(medium);

    @media (--medium) {
      font-size: font-size(medium);
    }
  }

  &.span,
  &:not([href]) {
    &:hover {
      color: inherit;
    }
  }

  &--label {
    position: relative;
    top: rem(-1px);
    user-select: none;
  }

  &-sub--label {
    font-size: font-size(extra-small);
  }
}

.button_close {
  margin-bottom: auto;
  transition: opacity 0.25s linear;

  @at-root :not(.overlay-visible) & {
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
  }

  .overlay-visible & {
    pointer-events: auto;
    visibility: visible;
  }

  &::before,
  &::after {
    border: 0.0625em solid currentColor;
    position: absolute;
    left: $spacing-loose * -1.25;
    font-size: rem(16px);
    width: 1.68em;
    height: 1.68em;
    padding: 0.34em;
    border-radius: 100%;
    transform: rotate(45deg);
    display: flex;
  }

  &::before {
    content: '';
  }

  &::after {
    content: '↜';
    border: none;
    align-items: center;
    justify-content: center;
  }
}
