<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metadata.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
  <link rel="apple-touch-icon" href="{{ '/assets/icons/homescreen192.png' | url }}">
  <link rel="stylesheet" href="{{ '/assets/index.css' | url }}">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

  <meta name="theme-color" content="{{ metadata.theme_color }}">
</head>

<body>
  <main class="wrapper">
    {{ content | safe }}
  </main>

  <script src="{{ '/assets/index.js' | url }}"></script>
  {# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4641190-1&aip=1" type="15fc1a45c18dbc577066fcf7-text/javascript"></script>
  <script type="15fc1a45c18dbc577066fcf7-text/javascript">function a(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],a("js",new Date),a("config","UA-4641190-1");</script> #}
</body>
</html>