---
layout: layouts/base.njk
---

{% block intro %}
  {{ content|safe }}
{% endblock %}

{% block projects %}
  {% for project in projects %}
      {% include "projectItem.njk" %}
  {% endfor %}
{% endblock %}
