---
layout: layouts/base.njk
---
<article>
{% block header %}
  <header class="page-header">
    <h2 class="page-header--subtitle text-m">{{ client }}</h2>
    <h1>{{ title }}</h1>
  </header>
{% endblock %}

{{ content|safe }}
</article>