%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999em;
  color: var(--button-color, #{$color-text});
  border: 0.0625em solid currentColor;
  font-size: font-size(extra-small);
  line-height: 1;
  padding: 0.34em 1em;
  text-transform: lowercase;
  text-align: center;
  transition: color 0.2s linear;
  background-color: transparent;
  width: min-content;

  @media (--medium) {
    font-size: font-size(small);
  }

  &:hover {
    color: var(--button-color, #{$color-blue});
  }

  &:active,
  &:focus {
    color: $color-blue;
    outline: none;
    box-shadow: 0 0 0.0625em 0.0625em lighten($color-blue, $amount: 20);
  }
}

.button,
button {
  @extend %button;

  &_large {
    font-size: font-size(medium);

    @media (--medium) {
      font-size: font-size(medium);
    }
  }
}
