@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 400;
  src: local('Cooper Hewitt Book'),
    url('/fonts/CooperHewitt-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 400;
  src: local('Cooper Hewitt Book Italic'),
    url('/fonts/CooperHewitt-BookItalic.woff2') format('woff2');
}
