$gallery-index: (caption, images);

.gallery {
  position: relative;
  width: 100%;
  padding-top: $spacing-loose;
  padding-bottom: $spacing-loose;
  margin: $spacing-extra-loose * 2 0;

  @media (--tablet) {
    padding-top: $spacing-loose * 2;
    margin-top: $spacing-extra-loose * 3;
    margin-bottom: $spacing-extra-loose * 3;
  }

  figcaption {
    position: sticky;
    top: 0;
    left: var(--gutter);
    z-index: z-index(caption, $gallery-index);

    .gallery:not(.carousel) & {
      @include effect-exclusion($color-text);
    }

    @media (--tablet) {
      width: 100%;
      top: $spacing-extra-loose;
      z-index: 100;
      left: 0;
      grid-column: caption 1;
    }

    .counter {
      @include text-style-caption();
      color: lighten($color-ink, 33%);
      font-size: font-size(small) * 0.9;
      font-family: monospace;
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      letter-spacing: 0.25em;

      @media (--tablet) {
        font-size: font-size(small) * 0.9;
      }

      .sep {
        font-size: 0.85em;
        font-weight: 700;
      }
    }
  }

  &.caption-left figcaption {
    @media (--tablet) {
      grid-column: caption 1;
    }
  }

  &.caption-right figcaption {
    @media (--tablet) {
      grid-column: caption 2;
    }
  }

  &.full-width {
    width: 100%;
    grid-column: full;
  }

  &.half-width {
    width: 100%;
  }

  &.grid\:2 {
    --padding: var(--gutter);

    display: grid;
    gap: $spacing-base var(--gutter);
    grid-template-columns: 80vmin;
    grid-auto-columns: 80vmin;

    @media (--mobile) {
      overflow: auto;
    }

    @media (--tablet) {
      --padding: calc(var(--gutter) + #{$spacing-base});

      grid-template-columns:
        [img] var(--padding) [caption] 5fr var(--gutter)
        calc(2 / 12 * 100% + var(--gutter))
        [img] var(--gutter) [caption] 5fr var(--padding);
    }

    > img {
      order: -1;
      grid-column: auto / span 1;
      z-index: z-index(images, $gallery-index);
      grid-row: 1;

      @media (--tablet) {
        grid-row: 2;

        &:first-of-type {
          grid-column: img 1 / span 3;
        }

        &:last-of-type {
          grid-column: img 2 / span 3;
        }
      }
    }
  }

  &.grid\:2-2 {
    display: grid;
    gap: $spacing-base var(--gutter);
    grid-template-columns: 80vmin;
    grid-auto-columns: 80vmin;

    @media (--tablet) {
      justify-content: space-evenly;
      grid-template-columns: repeat(2, minmax(#{rem(240px)}, 20%));
    }
  }
}

.galleries {
  display: grid;
  grid-template-columns: 2fr;
  grid-column: full;
  width: 100%;
  justify-content: space-evenly;
  gap: $spacing-base var(--gutter);
  grid-template-columns: 80vmin;
  grid-auto-columns: 80vmin;

  @media (--tablet) {
    justify-content: space-evenly;
    grid-template-columns: repeat(2, minmax(#{rem(240px)}, 20%));
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    > img {
      grid-row: 1;
      grid-column: 1;
    }

    figcaption {
      grid-row: 2;
      grid-column: 1;
    }

    gap: $spacing-base var(--gutter);
  }
}

.carousel {
  position: relative;

  .visible {
    animation: fade 0.2s linear forwards;
  }

  .hidden {
    animation: fade 0.2s linear backwards reverse;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
}
