html,
body,
button {
  @include text-style-body;
  font-size: font-size(small);

  @media (--large) {
    font-size: font-size(medium);
  }
}

html {
  position: relative;
  font-size: ($base-font-size / $default-browser-font-size) * 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  padding: 12.5vmin 0;

  &.grid > .grid {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.grid {
  display: grid;
  // prettier-ignore
  grid-template-columns:
    [full-start first] $spacing-loose
    [main-start] minmax(auto, 8fr) [main-end
    last] $spacing-loose
    [full-end];
  gap: 0 $gutter-sm;

  @media (--small) {
    // prettier-ignore
    grid-template-columns:
    [full-start first] minmax(#{$spacing-extra-loose / 2}, 1fr)
    [main-start] minmax(auto, 8fr) [main-end
    last] minmax(#{$spacing-extra-loose / 2}, 1fr)
    [full-end];
    gap: 0 $gutter;
    padding-top: 25vmin;
    padding-bottom: 25vmin;
  }

  @media (--medium) {
    // prettier-ignore
    grid-template-columns:
      [full-start first] minmax(#{$spacing-extra-loose / 2}, 2fr)
      [main-start] minmax(auto, 8fr) [main-end
      last] minmax(#{$spacing-extra-loose / 2}, 2fr)
      [full-end];
    gap: 0 $gutter;
  }

  > * {
    grid-column: main;
  }

  > .grid-full {
    grid-column: 1 / -1;
  }
}
