:root {
  --gutter: #{$gutter-sm};

  @media (--tablet) {
    --gutter: #{$gutter};
  }
}

html,
body,
button {
  @include text-style-body;
  font-size: font-size(small);

  @media (--large) {
    font-size: font-size(medium);
  }
}

html {
  position: relative;
  font-size: ($base-font-size / $default-browser-font-size) * 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  background-color: $color-background;
  padding: 12.5vmin 0;

  &.grid > .grid {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.grid {
  display: grid;
  // prettier-ignore
  grid-template-columns:
    [full-start first] $spacing-base
    [wide-start main-start] minmax(auto, 8fr) [main-end
    last wide-end] $spacing-base
    [full-end];
  grid-auto-rows: auto;
  gap: 0 var(--gutter);

  @media (--tablet) {
    // prettier-ignore
    grid-template-columns:
      [full-start first] minmax(#{$spacing-extra-loose / 2}, 1fr)
      [main-start wide-start] minmax(auto, 8fr) [main-end
      last wide-end] minmax(#{$spacing-extra-loose / 2}, 1fr)
      [full-end];
    padding-top: 25vmin;
    padding-bottom: 25vmin;
  }

  @media (--desktop) {
    // prettier-ignore
    grid-template-columns:
      [full-start first] $spacing-base
      [wide-start] 2fr
      [main-start] minmax(auto, 8fr) [main-end
      last] 2fr
      [wide-end] $spacing-base
      [full-end];
  }

  > * {
    grid-column: main;
  }

  > .grid-full {
    grid-column: 1 / -1;
    grid-auto-flow: column;
  }
}
