html,
body,
button {
  @include text-style-body;
  font-size: font-size(small);

  @media (--small) {
    font-size: font-size(medium);
  }
}

html {
  position: relative;
  font-size: ($base-font-size / $default-browser-font-size) * 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  display: grid;

  // prettier-ignore
  grid-template-columns:
  [full-start first] minmax(0, 1fr)
  [main-start] minmax(auto, #{rem(886px)}) [main-end
  last] minmax(0, 1fr)
  [full-end];
  gap: 0 $gutter-sm;

  @media (--small) {
    gap: 0 $gutter;
    padding: 0 $spacing-base;
  }

  > * {
    grid-column: main;
  }

  > .grid-full {
    grid-column: 1 / -1;
  }
}
