@use 'sass:math';

.grid {
  display: grid;
  // prettier-ignore
  grid-template-columns:
    [full-start] 0
    [wide-start] var(--gutter)
    [main-start] 1fr
    [center] 1fr
    [main-end] var(--gutter)
    [wide-end] 0
    [full-end];
  // prettier-ignore
  grid-template-columns:
    [full-start] 0
    [wide-start main-start] 1fr
    [center] 1fr
    [main-end wide-end] 0
    [full-end];
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  gap: 0 var(--gutter);
  align-items: start;
  align-content: start;

  @media (--tablet-up) {
    grid-template-columns:
      [full-start] var(--gutter)
      [wide-start] 1fr 1fr
      [main-start] repeat(4, 1fr)
      [center] repeat(4, 1fr)
      [main-end] 1fr 1fr
      [wide-end] var(--gutter)
      [full-end];
  }

  > * {
    grid-column: wide;

    @media (--tablet-up) {
      grid-column: main;
    }
  }

  > .grid-full {
    grid-column: 1 / -1;
    padding: 12.5vmin 0;

    @media (--tablet-up) {
      padding: 25vmin 0;
    }
  }
}

.grid\:2 {
  --padding: var(--gutter);

  display: grid;
  gap: calc(var(--gutter) / 2) var(--gutter);
  grid-template-columns: var(--gutter);
  grid-auto-columns: calc(75vmin - var(--gutter));
  scroll-behavior: smooth;

  &:not(.grid\:main) {
    @media (--mobile) {
      grid-auto-flow: column;
      overflow: auto;
      grid-template-columns: var(--gutter) calc(80vmin - var(--gutter));
      grid-auto-columns: minmax(max-content, calc(80vmin - var(--gutter)));
      justify-content: start;
      padding: 0 var(--gutter);

      &::after {
        content: '';
        width: var(--gutter);
      }
    }
  }

  @media (--tablet-up) {
    grid-template-columns: repeat(2, minmax(auto, #{math.div(5, 12) * 100%}));
    grid-auto-columns: minmax(auto, #{math.div(5, 12) * 100%});
    justify-content: center;
    justify-items: center;
  }

  > :not(figcaption) {
    grid-column: auto / span 1;
  }
}

.grid\:3 {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gutter);

  .col {
    flex: 1 0 320px;
    font-size: font-size(small);
    padding: var(--gutter);

    > p {
      font-size: 1em;
    }
  }
}

.full-width,
.grid\:full {
  grid-column: 1 / -1;
}

.grid\:wide {
  grid-column: wide;
}

.grid\:main {
  @media (--mobile-up) {
    grid-column: main;
    width: auto;
  }
}
