.list {
  @include effect-exclusion();
  background-color: invert($color-background);
  position: relative;
  width: 100%;
  margin: $spacing-block 0;

  @media (--tablet) {
    margin-top: $spacing-block * 2;
    margin-bottom: $spacing-block * 4;
  }

  > * {
    mix-blend-mode: difference;
  }

  .list--title {
    position: sticky;
    top: $spacing-loose * 2;
    padding-left: calc(1 / 12 * 100% - var(--gutter));
    padding-bottom: 2em;
    margin: 0;
    z-index: 0;

    h3 {
      color: invert($color-primary);
      position: relative;
      width: auto;
      display: inline-block;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 1.2em;
        width: rem(40px);
        height: rem(33px);
        background: transparent no-repeat 0 0;
        background-size: contain;
        background-image: url('../img/hand.svg');
        left: 0;

        @media (--tablet) {
          left: auto;
          right: 0;
        }
      }
    }
  }

  ol,
  ul {
    @media (--tablet) {
      padding-left: calc(2 / 12 * 100%);
    }
  }
}
