.list {
  position: relative;
  width: 100%;

  margin: $spacing-block 0;

  @media (--tablet) {
    margin-top: $spacing-block * 2;
    margin-bottom: $spacing-block * 4;
  }

  .list--title {
    @include effect-exclusion($color-blue);
    position: sticky;
    top: $spacing-loose;
    left: 0;
    padding-bottom: 2em;

    > * {
      display: inline-block;
      position: relative;
      margin: 0;

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 1.2em;
        width: rem(40px);
        height: rem(33px);
        background: transparent no-repeat 0 0;
        background-size: contain;
        background-image: url('../img/hand.svg');
      }
    }
  }

  ol,
  ul {
    padding-left: calc(2 / 12 * 100% + var(--gutter));
  }
}
