@use 'config' as *;

body[data-showing-overlay='true'] {
  overflow: hidden;
  backface-visibility: hidden;
}

[data-showing-modal='true'] {
  overflow: hidden;
  backface-visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: z-index(modal);
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  scroll-behavior: smooth;
  backface-visibility: hidden;
  padding: calc(var(--gutter) * 2) 0 0;
  contain: strict;

  &[data-visible='true'] {
    pointer-events: auto;
    visibility: visible;
  }

  &[data-disabled='true'] {
    pointer-events: none;
  }

  &--body {
    color: var(--color-text);
    background-color: var(--color-background-ui);
    grid-column: full;
    border-radius: var(--border-radius-large);
    box-shadow: shadow(2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .modal.single & {
      padding-bottom: var(--spacing-block);
    }
  }

  &--body > .wrapper {
    margin-top: 0 !important;
  }
}

[data-showing-modal='true'] {
  > .wrapper {
    transform: scale(0.98);
    filter: saturate(140%) blur(#{rem(6px)});
  }
}

.animation\:scaleInDown {
  animation-name: scaleInDown;
  animation-duration: var(--animation-duration-slow) !important;
  animation-timing-function: ease-in-out;
}

.animation\:scaleOutUp {
  animation-name: scaleInDown;
  animation-direction: reverse;
  animation-duration: calc(var(--animation-duration-slow)) !important;
  animation-timing-function: ease-in-out;
}

@keyframes scaleInDown {
  from {
    transform: none;
    filter: none;
  }
  to {
    transform: scale(0.98);
    filter: saturate(140%) blur(#{rem(6px)});
  }
}

.animation\:slideInUp {
  animation-duration: var(--animation-duration-extra-slow) !important;
  animation-name: slideInUp;
}

.animation\:slideOutDown {
  animation-name: slideInUp;
  animation-direction: reverse;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100vh, 0);
  }
  to {
    transform: none;
  }
}
