.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  z-index: z-index(modal);
  transition: opacity 0.25s linear;
  backdrop-filter: blur(#{rem(6px)}) saturate(50%);
  background-color: rgba($color-background, 0.9);

  > .overlay--body {
    z-index: 1;
    opacity: 0;

    transition: opacity 0.25s linear 0.15s;
    transform-origin: 50% 0%;
  }

  &.is-visible {
    pointer-events: auto;
    opacity: 1;

    &::before {
      opacity: 1;
      visibility: visible;
    }

    > .overlay--body {
      opacity: 1;
    }
  }
}

.is-blurred {
  filter: blur(#{rem(5px)}) saturate(25%);
  transform: scale(0.98);
  overflow: hidden;
}

.blur-in {
  animation: blur 0.2s linear forwards;

  @media (prefers-reduced-motion: reduce) {
    animation-duration: 1ms;
  }
}

.blur-out {
  animation: blur 0.2s linear backwards reverse;
  overflow: visible;

  @media (prefers-reduced-motion: reduce) {
    animation-duration: 1ms;
  }
}

@keyframes blur {
  from {
    filter: blur(0) saturate(100%);
    transform: scale(1);
  }

  to {
    filter: blur(#{rem(5px)}) saturate(50%);
    transform: scale(0.98);
  }
}

.scale-up {
  animation: scale 0.2s ease-out backwards reverse;
}

.scale-down {
  animation: scale 0.2s ease-out forwards;
}

@keyframes scale {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
