@use 'sass:color';
@use 'config' as *;
@use './button';
$nav-index: main, projects;

.site-header {
  --nav-offset: calc(var(--gutter) * 1.5);

  @media (--tablet-up) {
    --nav-offset: calc(var(--gutter) * 1);
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--app-height);
  padding: 0 0 var(--nav-offset);
  pointer-events: none;
  z-index: z-index(navigation);
  contain: strict;
  display: grid;
  grid-template-columns:
    minmax(var(--gutter), 1fr)
    minmax(auto, max-content)
    minmax(var(--gutter), 1fr);
  grid-template-rows: 1fr auto;
  justify-content: start;
  justify-items: center;
  grid-auto-rows: auto;
  align-content: end;
  align-items: end;

  transform: translate3d(0, 0, 0);
  will-change: background-color, backdrop-filter;
  transition: $transition-default $transition-timing;
  transition-property: background, backdrop-filter;
  backface-visibility: hidden;
  backdrop-filter: none;
  background-color: rgba(var(--color-background-overlay-rgb-inverted), 0);

  [data-showing-modal='true'] & {
    background-color: rgba(var(--color-background-overlay-rgb), 0);
  }

  > * {
    grid-column: 2;
  }

  [data-showing-overlay='true'] & {
    pointer-events: auto;
    background-color: rgba(var(--color-background-overlay-rgb-inverted), 0.5);
    backdrop-filter: saturate(140%) blur(#{rem(3px)});
  }

  [data-showing-modal='true'][data-showing-overlay='true'] & {
    background-color: rgba(var(--color-background-overlay-rgb), 0.5);
  }
}

nav {
  li {
    list-style: none;
  }
}

.nav-main {
  z-index: z-index(main, $nav-index);
  pointer-events: auto;
  position: relative;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: shadow(2);
  border-radius: 99999em;
  background-color: $color-white;
  border: 2px solid $color-white;

  @media (--mobile) {
    left: var(--gutter);
    transform-origin: 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .button {
    position: relative;
    flex: 1 1 auto;
    padding-left: 0.88em;
    padding-right: 0.88em;
    border-radius: 99999em;

    .button--label {
      text-transform: lowercase;
      top: rem(-1px);
      position: relative;
    }

    &[aria-expanded='true'] + .button::before {
      background-color: transparent;
    }
  }

  .close {
    position: absolute;
    top: calc(var(--gutter) * -2);
    left: 0;
  }
}

.nav-projects {
  display: flex;
  flex-flow: column nowrap;
  z-index: z-index(projects, $nav-index);
  margin-bottom: font-size(extra-small);
  pointer-events: auto;
  transition: $transition-default cubic-bezier(0.5, -0.3, 0.5, 1.5);
  transition-property: opacity, visibility, transform;
  transform: scale(1) translate3d(0, 0, 0);
  width: 100%;
  order: -1;
  transition-delay: 0.1s;
  transform-origin: calc(var(--gutter) * 2) 100%;

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8) translate3d(0, 10%, 0);
  }

  &__dialog.card {
    padding: 0;
  }

  ul {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
  }

  li {
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: background-color $transition-fast, color $transition-fast,
      opacity $transition-default linear 0.1s,
      transform $transition-default cubic-bezier(0.5, -0.3, 0.5, 1.33) 0.2s;
    color: $color-ink;
    position: relative;
    padding: 0 calc(var(--gutter) * 0.5);
    display: flex;
    justify-content: stretch;

    &:first-child {
      margin-top: calc(var(--gutter) * 0.5);
      border-top-left-radius: rem(8px);
      border-top-right-radius: rem(8px);
    }

    &:last-child {
      margin-bottom: calc(var(--gutter) * 0.5);
      border-bottom-left-radius: rem(8px);
      border-bottom-right-radius: rem(8px);
    }

    &.active {
      align-items: center;

      a {
        --button-focus-border-color: transparent;
        --button-active-border-color: rgba(
          #{hexToRGB($color-ink-lighter)},
          0.2
        );
        --button-background-color: #{color.scale(
            $color-background,
            $lightness: -2%
          )};
        background-color: var(--button-background-color);
        flex: 1;
        box-shadow: button.$button-border-active;
      }
    }

    .button {
      flex: 1;
      justify-content: flex-start;
    }
  }

  &[aria-hidden='true'] li {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
}

.close {
  margin-bottom: auto;
  transition: opacity 0.25s linear;

  @at-root :not(.overlay-visible) & {
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
  }

  .overlay-visible & {
    pointer-events: auto;
    visibility: visible;
  }

  &::before,
  &::after {
    border: 0.0625em solid currentColor;
    position: absolute;
    left: $spacing-loose * -1.25;
    font-size: rem(16px);
    width: 1.68em;
    height: 1.68em;
    padding: 0.34em;
    border-radius: 100%;
    transform: rotate(45deg);
    display: flex;
  }

  &::before {
    content: '';
  }

  &::after {
    content: '↜';
    border: none;
    align-items: center;
    justify-content: center;
  }
}
