@use 'sass:color';
@use 'config' as *;

.page-content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1.2em;

    * + & {
      margin-top: 2em;
    }
  }

  p {
    margin-bottom: 1.2em;
  }

  ul {
    margin: 0.8em 0 1em;
    padding-left: calc(var(--gutter) * 2);
  }

  .button {
    // --button-color: var(--color-text);
    // --button-background-color: var(--color-label-background);

    &:hover {
      // --button-color: var(--color-text-inverted);
      --button-background-color: var(--color-primary);
      --button-hover-border-color: var(--button-hover-border-color);
    }

    &:active {
      --button-background-color: #{color.scale(
       $color-primary,
        $lightness: 20%)
      }
    }
  }

  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    grid-column: wide;

    @media (--mobile-up) {
      grid-column: center / wide;
    }
  }
}

.fluid-width-video-wrapper,
.content-image {
  background-color: var(--color-background-overlay);
}

.section {
  position: relative;
  padding: calc(var(--spacing-block) * 0.5) var(--gutter);
  grid-column: full;
  padding-bottom: calc(var(--spacing-block) * 2);

  @media (--mobile-up) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 var(--gutter);
    align-items: baseline;
    align-content: start;
    grid-auto-rows: auto;
  }

  &:not(:last-child) {
    color: var(--color-text-inverted);
    background-color: var(--color-background-inverted);
  }

  &:first-of-type {
    min-height: 100vmin;
    margin-top: var(--spacing-block);
  }

  &:nth-of-type(odd) {
    color: var(--color-text-inverted);
    background-color: var(--color-background-inverted);
  }

  &:nth-of-type(even) {
    color: var(--color-text);
    background-color: var(--color-background);
  }

  > h1,
  > h2 {
    @include text-style-extra-large;

    @media (--mobile-up) {
      grid-column: 1;
      grid-row: 1;
      position: sticky;
      top: var(--gutter);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  > * {
    grid-column: 2;
    z-index: 1;
    margin-top: 0;
  }

  > img {
    grid-column: 1;
  }

  .col {
    font-size: font-size(small);
    grid-column: auto / span 1;

    h3 {
      font-size: inherit;
      font-family: inherit;
      margin: 0;
      color: $color-ink-lighter;
    }

    ul {
      padding: 0;

      li::before {
        content: unset;
      }
    }
  }

  .button_large {
    margin-top: calc(var(--gutter) * 0.5);
  }
}

.aside {
  font-size: font-size(extra-small);
  color: var(--color-text-sub);

  > h3,
  > p {
    font-family: $font-stack-monospace;
  }

  > h3 {
    font-size: font-size(extra-small);
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  > p,
  > ul {
    font-size: font-size(tiny);
  }

  > ul {
    padding-left: var(--gutter);

    li + li {
      margin-top: 0.2em;
    }
  }
}
