@use 'config/colors';

@use 'sass:color';
@use 'config' as *;
@use 'config/utilities' as *;

.text-xs {
  @include text-style-caption();
}

.text-s {
  @include text-style-small();
}

.text-m {
  @include text-style-medium();
}

.text-l {
  @include text-style-large();
}

.text-xl {
  @include text-style-extra-large();

  &:not(:last-child) {
    margin-bottom: line-height(extra-large) * 1em;
  }
}

.h-s {
  @include text-style-small();

  line-height: line-height(large);
}

.h-m {
  @include text-style-medium();
  line-height: line-height(large);
}

.h-l {
  @include text-style-large();
}

.h-xl {
  @include text-style-extra-large();
}

.h-xxl {
  @include text-style-extra-extra-large();
}

.f-sans {
  font-family: $font-stack-base;
}

.f-mono {
  font-family: $font-stack-monospace;
}

a {
  text-decoration: none;
  color: inherit;
  text-underline-position: under;

  &:visited {
    color: currentColor;
  }
}

p > a,
.page-content li > a,
.single-body li > a,
a.text-link {
  color: inherit;
  text-decoration: none;
  border-bottom: rem(1px) solid colors.$color-sky-darkest;

  &:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: 1em;

  a > & {
    color: $color-text;
  }
}

p {
  @include text-style-medium();

  + p {
    margin-top: line-height(medium) * 1em;
  }
}

em {
  --inter-font-slant: -5;
}

strong {
  --inter-font-weight: 450;
}

ul,
ol {
  margin: 0;

  .single-body &,
  .page-content & {
    margin: 0.8em 0 1em;
    position: relative;
    padding: 0;
    padding-left: calc(var(--gutter) * 2);

    li {
      list-style: none;

      &:before {
        position: absolute;
        content: '→';
        left: 0.5ch;
        color: var(--color-primary);
      }

      + li {
        margin-top: line-height(medium) * 0.5em;
      }
    }
  }
}

h1 {
  --inter-font-weight: 360;

  @include text-style-large();
}

h2 {
  --inter-font-weight: 360;

  @include text-style-large();
}

h3 {
  --inter-font-weight: 360;

  @include text-style-medium();
}

h4,
h5,
h6 {
  @include text-style-small();
}

figcaption {
  @include text-style-caption();
}

.text-sub {
  color: var(--color-text-sub, #{colors.$color-ink-lighter});
}

.text-highlight {
  color: var(--color-text-highlight, #{colors.$color-green});
}

.label {
  @include text-style-caption();

  font-weight: 500;
  font-family: $font-stack-monospace;
  border-radius: 99999em;
  border: 1px solid colors.$color-sky;
  background-color: colors.$color-sky;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  padding: 0.25em 1em;
  line-height: 1;
}
