$color-background: $color-sky;
$color-primary: $color-blue;
$color-text: $color-ink;
$color-link: $color-blue;

$spacing-extra-tight: rem(4px);
$spacing-tight: rem(8px);
$spacing-base-tight: rem(12px);
$spacing-base: rem(16px);
$spacing-loose: rem(32px);
$spacing-extra-loose: rem(48px);

$gutter-sm: $spacing-base;
$gutter: $spacing-loose;

$default-browser-font-size: 16px;
$base-font-size: 10px;

$font-stack-base: 'Cooper Hewitt', -apple-system, BlinkMacSystemFont,
  'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-stack-monospace: 'Office Code Pro', 'SF Mono', Monaco, Consolas,
  'Lucida Console', monospace;
