<nav class="nav-main">
  {% button
  url = '/work' | url,
  label = 'Work',
  size = 'large' %}

  {% button
  url = '/expertise' | url,
  label = 'Expertise',
  size = 'large' %}

  {% button
  url = '/about' | url,
  label = 'About',
  size = 'large' %}

  <ul class="nav__projects">
    {% for project in projects %}
      {% set active =  'active' if page.url === project.url%}

      <li>
        <a href="{{ project.url }}" class="{{ active }}">{{ project.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>