@charset "UTF-8";
@font-face {
  font-family: "Montreal Neue";
  font-style: normal;
  font-weight: 400;
  src: local("Montreal Neue");
}
@font-face {
  font-family: "Montreal Neue";
  font-style: italic;
  font-weight: 400;
  src: local("Montreal Neue");
}
@custom-media --mobile (width < 48rem);
@custom-media --mobile-up (width >= 48rem);
@custom-media --tablet-up (width >= 48rem);
@custom-media --tablet-down (width <= 48rem);
@custom-media --desktop-up (width >= 80rem);
@custom-media --desktop-down (width <= 80rem);
.text-s {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.4rem, 1.3888888889vw, 2rem);
  line-height: clamp(1.2, 1.5, 1.5);
}

.text-m {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  font-size: clamp(2rem, 1.9444444444vw, 4rem);
  line-height: clamp(1.5, 1.5, 1.5);
  margin-bottom: 0.5em;
}

.text-l {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.8rem, 2.7777777778vw, 5.7rem);
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.text-xl {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(4rem, 3.9583333333vw, 5.7rem);
  line-height: 1.5;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}
a > h1,
a > h2,
a > h3,
a > h4,
a > h5,
a > h6,
a > p {
  color: #121212;
}

p {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  font-size: clamp(2rem, 1.9444444444vw, 4rem);
  line-height: clamp(1.5, 1.5, 1.5);
}
p + p {
  margin-top: 1.5em;
}

ul,
ol {
  margin: 0;
}
article ul,
article ol {
  padding: 0;
  padding-left: calc(1 / 12 * 100% + 1em);
  padding-right: calc(1 / 12 * 100% + 1em);
}
article ul li,
article ol li {
  list-style: none;
}
article ul li + li,
article ol li + li {
  margin-top: 0.75em;
}

h1 {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(4rem, 3.9583333333vw, 5.7rem);
  line-height: 1.5;
  margin-bottom: 1.5em;
}

h2 {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.8rem, 2.7777777778vw, 5.7rem);
  line-height: 1.5;
  margin-bottom: 1.5em;
}

h3 {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  font-size: clamp(2rem, 1.9444444444vw, 4rem);
  line-height: clamp(1.5, 1.5, 1.5);
}

h4,
h5,
h6 {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  font-size: clamp(2rem, 1.9444444444vw, 4rem);
  line-height: clamp(1.5, 1.5, 1.5);
  color: #313fff;
}

figcaption {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.4rem, 0.9722222222vw, 2rem);
  line-height: clamp(1.2, 1.2, 1.5);
}

:root {
  --gutter: 1.2rem;
  --spacing-block: 6.4rem;
}
@media (--tablet) {
  :root {
    --gutter: 3.2rem;
    --spacing-block: 12.8rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}
html,
body,
button {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, 1.9444444444vw, 4rem);
  line-height: clamp(1.2, 1.5, 1.5);
  font-size: 2rem;
}
@media (--large) {
  html,
body,
button {
    font-size: 2.8rem;
  }
}

html {
  position: relative;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  background-color: #fff;
  padding: 12.5vmin 0;
}
.wrapper.grid > .grid {
  padding-top: 0;
  padding-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: [full-start first] 1.6rem [wide-start main-start] minmax(auto, 8fr) [main-end last wide-end] 1.6rem [full-end];
  grid-auto-rows: auto;
  gap: 0 var(--gutter);
}
@media (--tablet) {
  .grid {
    grid-template-columns: [full-start first] minmax(2.4rem, 1fr) [main-start wide-start] minmax(auto, 8fr) [main-end last wide-end] minmax(2.4rem, 1fr) [full-end];
    padding-top: 25vmin;
    padding-bottom: 25vmin;
  }
}
@media (--desktop) {
  .grid {
    grid-template-columns: [full-start first] 1.6rem [wide-start] 2fr [main-start] minmax(auto, 8fr) [main-end last] 2fr [wide-end] 1.6rem [full-end];
  }
}
.grid > * {
  grid-column: main;
}
.grid > .grid-full {
  grid-column: 1/-1;
  grid-auto-flow: column;
}

.grid\:2 {
  --padding: var(--gutter);
  display: grid;
  gap: 1.6rem var(--gutter);
  grid-template-columns: 80vmin;
  grid-auto-columns: 80vmin;
  justify-content: space-between;
}
@media (--mobile) {
  .grid\:2 :not(.grid\:centered) {
    overflow: auto;
  }
}
@media (--tablet) {
  .grid\:2 {
    grid-template-columns: repeat(2, minmax(auto, 41.6666666667%));
    grid-auto-columns: minmax(auto, 41.6666666667%);
  }
}
@media (--tablet) {
  .grid\:2.grid\:centered {
    grid-template-columns: repeat(2, minmax(24rem, 32rem));
  }
}
.grid\:2 > :not(figcaption) {
  grid-column: auto/span 1;
}

.full-width,
.grid\:full {
  grid-column: 1/-1;
  grid-auto-flow: column;
}

.grid\:centered {
  justify-content: space-evenly;
}

.button,
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999em;
  color: var(--button-color, #121212);
  border: 0.0625em solid currentColor;
  font-size: clamp(1.4rem, 1.3888888889vw, 2.8rem);
  line-height: 0.6;
  height: 1.8em;
  padding: 0.25em 1em;
  text-transform: lowercase;
  text-align: center;
  transition: color 0.2s linear;
  background-color: transparent;
  width: max-content;
  user-select: none;
  appearance: button;
}
.button:hover,
button:hover {
  background-color: #fcfcfc;
}
.button:active,
button:active, .button:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0.0625em 0.0625em #e6e6e6;
}
.button:active,
button:active {
  background-color: #fcfcfc;
  box-shadow: inset 0 1px 0.0625em 0.0625em #e6e6e6;
}

.button_large,
button_large {
  font-size: 2.8rem;
}
@media (--medium) {
  .button_large,
button_large {
    font-size: 2.8rem;
  }
}
.button.span:hover, .button:not([href]):hover,
button.span:hover,
button:not([href]):hover {
  color: inherit;
}
.button--label,
button--label {
  position: relative;
  top: -0.1rem;
  user-select: none;
}
.button-sub--label,
button-sub--label {
  font-size: 0.7em;
}

.button_close {
  margin-bottom: auto;
  transition: opacity 0.25s linear;
}
:not(.overlay-visible) .button_close {
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}

.overlay-visible .button_close {
  pointer-events: auto;
  visibility: visible;
}
.button_close::before, .button_close::after {
  border: 0.0625em solid currentColor;
  position: absolute;
  left: -4rem;
  font-size: 1.6rem;
  width: 1.68em;
  height: 1.68em;
  padding: 0.34em;
  border-radius: 100%;
  transform: rotate(45deg);
  display: flex;
}
.button_close::before {
  content: "";
}
.button_close::after {
  content: "↜";
  border: none;
  align-items: center;
  justify-content: center;
}

.nav-main {
  position: fixed;
  z-index: 40;
  bottom: calc(var(--gutter) * 2);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 4px;
  border-radius: 99999em;
  background-color: white;
}
@media (--mobile) {
  .nav-main {
    transform-origin: 0 100%;
    transform: rotate(90deg) translateX(-100%);
  }
}
.nav-main ul {
  margin: 0;
  padding: 0;
}
.nav-main .button {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.nav-main .button + .button:not(:first-of-type):not(:last-of-type) {
  border-left-color: #f3f2f1;
  border-radius: 0;
}
.nav-main .button:first-of-type {
  padding-left: 1em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-main .button:last-of-type {
  padding-right: 1em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav-main .button_nav {
  border-color: #fff;
}
.nav-main .close {
  position: absolute;
  top: calc(var(--gutter) * -2);
  left: 0;
}

.nav-projects {
  visibility: hidden;
  display: none;
}

.close {
  margin-bottom: auto;
  transition: opacity 0.25s linear;
}
:not(.overlay-visible) .close {
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}

.overlay-visible .close {
  pointer-events: auto;
  visibility: visible;
}
.close::before, .close::after {
  border: 0.0625em solid currentColor;
  position: absolute;
  left: -4rem;
  font-size: 1.6rem;
  width: 1.68em;
  height: 1.68em;
  padding: 0.34em;
  border-radius: 100%;
  transform: rotate(45deg);
  display: flex;
}
.close::before {
  content: "";
}
.close::after {
  content: "↜";
  border: none;
  align-items: center;
  justify-content: center;
}

.site-footer {
  background: inherit;
  font-size: 2rem;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  z-index: 30;
  transition: opacity 0.25s linear;
  backdrop-filter: blur(0.6rem) saturate(50%);
  background-color: rgba(255, 255, 255, 0.9);
}
.overlay > .overlay--body {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.25s linear 0.15s;
  transform-origin: 50% 0%;
}
.overlay.is-visible {
  pointer-events: auto;
  opacity: 1;
}
.overlay.is-visible::before {
  opacity: 1;
  visibility: visible;
}
.overlay.is-visible > .overlay--body {
  opacity: 1;
}

.overlay-visible body {
  overflow: hidden;
}

.is-blurred {
  filter: blur(0.5rem) saturate(25%);
  transform: scale(0.98);
  overflow: hidden;
}

.blur-in {
  animation: blur 0.2s linear forwards;
}
@media (prefers-reduced-motion: reduce) {
  .blur-in {
    animation-duration: 1ms;
  }
}

.blur-out {
  animation: blur 0.2s linear backwards reverse;
  overflow: visible;
}
@media (prefers-reduced-motion: reduce) {
  .blur-out {
    animation-duration: 1ms;
  }
}

@keyframes blur {
  from {
    filter: blur(0) saturate(100%);
    transform: scale(1);
  }
  to {
    filter: blur(0.5rem) saturate(50%);
    transform: scale(0.98);
  }
}
.scale-up {
  animation: scale 0.2s ease-out backwards reverse;
}

.scale-down {
  animation: scale 0.2s ease-out forwards;
}

@keyframes scale {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.gallery figcaption {
  color: #ededed;
  mix-blend-mode: difference;
  position: sticky;
  z-index: 20;
  grid-row: -2;
  padding: 0 var(--gutter);
}
@media (--tablet) {
  .gallery figcaption {
    width: 100%;
    top: var(--gutter);
    left: 0;
    z-index: 20;
    max-width: 47.4rem;
  }
}
.gallery figcaption .counter {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.4rem, 0.9722222222vw, 2rem);
  line-height: clamp(1.2, 1.2, 1.5);
  color: #666666;
  font-size: 1.8rem;
  font-family: monospace;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  letter-spacing: 0.25em;
}
@media (--tablet) {
  .gallery figcaption .counter {
    font-size: 1.8rem;
  }
}
.gallery figcaption .counter .sep {
  font-size: 0.85em;
  font-weight: 700;
}
.gallery.grid\:2 {
  display: grid;
  margin-top: var(--spacing-block);
  margin-bottom: var(--spacing-block);
}
@media (--mobile) {
  .gallery.grid\:2 {
    overflow: auto;
  }
}
.gallery.grid\:2 > *:not(figcaption) {
  grid-column: auto/span 1;
  z-index: 10;
  grid-row: -1;
}
.gallery.grid\:3 {
  display: grid;
  gap: 1.6rem var(--gutter);
  grid-column: full;
  grid-template-columns: repeat(12, 1fr);
}
.gallery.grid\:3 > *:not(figcaption) {
  grid-column-end: span 9;
}
.gallery.grid\:3 figcaption {
  grid-row: -1/span 1;
  grid-column: -5/span 4;
}
.gallery.grid\:3.caption-left *:not(figcaption) {
  grid-column-start: 4;
}
.gallery.grid\:3.caption-left figcaption {
  grid-column: 1/span 4;
}

.carousel {
  width: 100%;
  max-width: 32rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem var(--gutter);
  position: relative;
}
.carousel > img {
  grid-row: 1;
  grid-column: 1;
}
.carousel figcaption {
  grid-row: 2;
  grid-column: 1;
}
.carousel .visible {
  animation: fade 0.2s linear forwards;
}
.carousel .hidden {
  animation: fade 0.2s linear backwards reverse;
}
.carousel figcaption {
  mix-blend-mode: normal;
  color: #121212;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
}
.list {
  background: inherit;
  position: relative;
  width: 100%;
  margin: 6.4rem 0;
}
@media (--tablet) {
  .list {
    margin-top: 12.8rem;
    margin-bottom: 12.8rem;
  }
}
.list .list--title {
  mix-blend-mode: difference;
  position: sticky;
  top: 6.4rem;
  margin: 0;
  z-index: 0;
}
.list .list--title h3 {
  color: #cec000;
  position: relative;
  width: auto;
  display: inline-block;
}
.list .list--title h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.2em;
  left: 0;
  width: 4rem;
  height: 3.3rem;
}
@media (--tablet) {
  .list .list--title h3::after {
    left: auto;
    right: 0;
  }
}
.list ol,
.list ul {
  padding-bottom: 1.5em;
}
@media (--tablet) {
  .list ol,
.list ul {
    padding-left: calc(2 / 12 * 100% - 5.1rem);
  }
}
.list ul li {
  background: #fff url("../img/hand.svg") no-repeat 0 0.25em;
  background-size: 1em;
  padding-left: 5.1rem;
  background-blend-mode: difference;
}

.cta {
  background-color: #fff000;
  font-family: "helvetica rounded", "arial rounnded";
  width: 19.2rem;
  height: 19.2rem;
  border-radius: 100%;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2.8rem;
  position: relative;
  top: 50%;
}
.cta * {
  margin: 0;
  font-size: 2.8rem;
}

.projectItem--title, .projectItem--client {
  margin: 0;
}
* + .projectItem--title, * + .projectItem--client {
  margin-top: 0.5em;
}
.projectItem + * {
  margin-top: 25.6rem;
}

.page-header--subtitle {
  margin-bottom: 0.5em;
}
.page-header + p {
  font-family: "Montreal Neue", -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.8rem, 2.7777777778vw, 5.7rem);
  line-height: 1.5;
  margin-bottom: 1.5em;
  margin-bottom: 6rem;
}

.block {
  position: relative;
  width: 100%;
  margin: var(--spacing-block) 0;
}
.block + .block {
  margin-top: 0;
}
.block > .block {
  margin-top: 0;
  margin-bottom: 0;
}
.block.grid\:centered {
  display: grid;
}

.index .intro {
  grid-column: wide;
  display: grid;
  grid-template-columns: 7fr 2fr;
  gap: var(--gutter);
  padding: 3.2rem;
}
.index .intro .button {
  font-size: 2.8rem;
}

.projects {
  display: grid;
}
.index .projects {
  grid-column: wide;
}
