@font-face {
  font-family: 'Montreal Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Montreal Neue');
  // url('/static/fonts/CooperHewitt-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Montreal Neue';
  font-style: italic;
  font-weight: 400;
  src: local('Montreal Neue');
  // url('/static/fonts/CooperHewitt-BookItalic.woff2') format('woff2');
}
