@font-face {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 400;
  src: local('Neue Montreal');
}

@font-face {
  font-family: 'Neue Montreal';
  font-style: italic;
  font-weight: 400;
  src: local('Neue Montreal');
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@325&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@335&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@240&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@360&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('/public/fonts/Inter.var.woff2') format('woff2');
  font-variation-settings: 'wght' var(--inter-font-weight),
    'slnt' var(--inter-font-slant);
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'ss01' 1, 'ss02' 1;
}

@font-face {
  font-family: 'Iosevka Extended';
  font-feature-settings: 'ss01' on, 'calt' on;
  font-weight: 400;
  src: url('/public/fonts/iosevka-ss01-extended.woff2') format('woff2');
}
