@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('/public/fonts/Inter.var.woff2') format('woff2');
  font-variation-settings: 'wght' var(--inter-font-weight),
    'slnt' var(--inter-font-slant);
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'ss01' 1, 'ss02' 1;
}

@font-face {
  font-family: 'Iosevka Extended';
  font-feature-settings: 'ss01' on, 'calt' on;
  font-weight: 400;
  src: url('/public/fonts/iosevka-ss01-extended.woff2') format('woff2');
}
