@font-face {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 400;
  src: local('Neue Montreal');
}

@font-face {
  font-family: 'Montreal Neue';
  font-style: italic;
  font-weight: 400;
  src: local('Neue Montreal');
}
