/// Returns the font size for a given text style and variant.
///
/// @param {String} $style - The font style.
/// @param {String} $variant [base] - The variant on the font-size.
/// @return {Number} The font-size for the text-style.
@function font-size($variant) {
  $fetched-font-size: map-get($font-sizes, $variant);

  @if type-of($fetched-font-size) {
    @return $fetched-font-size;
  } @else {
    @error 'Font size `#{$variant}` not found.';
  }
}

/// Returns the line height for a given text style and variant.
///
/// @param {String} $style - The font style.
/// @param {String} $variant [base] - The variant on the font-size.
/// @return {Number} The font-size for the text-style.
@function line-height($variant) {
  $fetched-line-height: map-get($line-heights, $variant);

  @if type-of($fetched-line-height) {
    @return $fetched-line-height;
  } @else {
    @error 'Line height `#{$variant}` not found.';
  }
}

@mixin text-style-caption {
  font-family: $font-stack-base;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(
    #{font-size(extra-small)},
    #{vw(font-size(extra-small))},
    #{font-size(small)}
  );
  line-height: clamp(
    #{line-height(extra-small)},
    #{line-height(extra-small)},
    #{line-height(small)}
  );
}

@mixin text-style-body {
  font-family: $font-stack-base;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(
    #{font-size(small)},
    #{vw(font-size(medium))},
    #{font-size(large)}
  );
  line-height: clamp(
    #{line-height(extra-small)},
    #{line-height(small)},
    #{line-height(medium)}
  );
}

@mixin text-style-small {
  font-family: $font-stack-base;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(
    #{font-size(extra-small)},
    #{vw(font-size(small))},
    #{font-size(small)}
  );
  line-height: line-height(small);
}

@mixin text-style-medium {
  font-family: $font-stack-base;
  font-weight: 400;
  font-style: normal;
  color: $color-ink;
  font-size: clamp(
    #{font-size(small)},
    #{vw(font-size(medium))},
    #{font-size(large)}
  );
  line-height: line-height(medium);
}

@mixin text-style-large {
  font-family: $font-stack-base;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(
    #{font-size(small)},
    #{vw(font-size(large))},
    #{font-size(extra-large)}
  );
  line-height: line-height(large);
  margin-bottom: line-height(large) * 1em;
}

@mixin text-style-extra-large {
  font-family: $font-stack-base;
  font-size: font-size(medium);
  font-weight: 400;
  font-style: italic;
  font-size: clamp(
    #{font-size(medium)},
    #{vw(font-size(extra-large))},
    #{font-size(extra-large)}
  );
  line-height: line-height(large);
  margin-bottom: line-height(large) * 1em;
}
