@use 'sass:color';

$button-border-focus: 0 0 0 1px var(--button-focus-border-color);

$button-border-color: inset 0 0 0 1px var(--button-border-color);

$button-border-hover: inset 0 0 0 1px var(--button-hover-border-color);

$button-border-active: inset 0 1px 1px 0 var(--button-active-border-color),
  inset 0 1px 5px 0 var(--button-active-border-color);

%button {
  --button-border-color: transparent;
  --button-focus-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-active-border-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--button-color, #{$color-text});
  border: none;
  border-radius: $radius * 0.5;
  font-size: clamp(
    #{font-size(small)},
    vw(font-size(small)),
    #{font-size(medium)}
  );
  line-height: 1.2;
  height: 1.8em;
  padding: 0.25em 1em;
  text-align: center;
  transition: color 0.2s linear;
  background-color: var(--button-background-color, #{$color-background-ui});
  width: max-content;
  user-select: none;
  appearance: button;
  -webkit-tap-highlight-color: transparent;
  transition: $transition-default $transition-timing;
  transition-property: background, border, color, box-shadow;
  box-shadow: $button-border-hover, $button-border-active, $button-border-color,
    $button-border-focus;

  &:hover {
    --button-background-color: #{color.scale(
        $color-background,
        $lightness: -2.5%
      )};

    // --button-hover-border-color: #{color.scale(
    //     $color-background,
    //     $lightness: -2.5%
    //   )};

    --button-hover-border-color: #{color.scale(
        $color-sky-darker,
        $lightness: -10%
      )};
  }

  &:focus {
    --button-focus-border-color: #{$color-primary};
    --button-border-color: #{$color-primary};
    outline: none;
    z-index: 1;
  }

  &:focus:hover {
    --button-hover-border-color: #{$color-primary};
  }

  &:active:focus {
    outline: none;
    z-index: 1;
  }

  &:active,
  &.active {
    --button-active-border-color: rgba(#{hexToRGB($color-ink-lighter)}, 0.1);
    --button-background-color: #{color.scale($color-background, $lightness: -2%)};

    &:hover {
      --button-hover-border-color: rgba(#{hexToRGB($color-ink-lighter)}, 0.1);
      --button-background-color: #{color.scale(
          $color-background,
          $lightness: -4%
        )};
    }
  }

  &[aria-expanded='true'] {
    --button-active-border-color: rgba(#{hexToRGB($color-ink)}, 0.1);
    --button-background-color: #{color.scale($color-background, $lightness: -4%)};
    &:hover {
      --button-hover-border-color: transparent;
      --button-background-color: #{color.scale(
          $color-background,
          $lightness: -6%
        )};
    }

    &:active {
      --button-active-border-color: rgba(#{hexToRGB($color-ink)}, 0.2);
      --button-background-color: #{color.scale(
          $color-background,
          $lightness: -6%
        )};
    }
  }

  &:disabled {
    background-color: $color-sky;
  }

  &.inverted {
    --button-color: #{invert($color-text)};
    --button-background-color: #{invert($color-background-ui)};

    &:focus {
      --button-focus-border-color: var(--button-color);
      --button-focus-border-color: #{invert($color-sky-darker)};
    }
  }
}

.button,
button {
  @extend %button;

  &_large {
    font-size: clamp(
      #{font-size(small)},
      #{vw(font-size(medium))},
      #{font-size(large)}
    );
  }

  &_outline {
    --button-border-color: currentColor;
    border-radius: 9999em;
  }

  &_nav {
    &:hover {
      --button-hover-border-color: transparent;
    }
  }

  &.span,
  &:not([href]) {
    &:hover {
      color: inherit;
    }
  }

  &--label {
    position: relative;
    user-select: none;
    text-transform: lowercase;
    top: -0.05em;
  }

  &--sub-label {
    font-size: 0.8em;
    color: $color-ink-lighter;

    &::before {
      content: ':';
      font-size: 1.2em;
      margin: 0 0.8ch 0 0;
    }
  }
}
