@use 'sass:color';

$button-border-focus: 0 0 0 2px var(--button-focus-border-color);

$button-border-color: inset 0 0 0 1px var(--button-border-color);

$button-border-hover: inset 0 0 0 1px var(--button-hover-border-color);

$button-border-active: inset 0 1px 1px 0 var(--button-active-border-color),
  inset 0 1px 5px 0 var(--button-active-border-color);

%button {
  --button-border-color: #{$color-ink-lighter};
  --button-focus-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-active-border-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999em;
  color: var(--button-color, #{$color-text});
  border: none;
  font-size: clamp(
    #{font-size(small)},
    vw(font-size(small)),
    #{font-size(medium)}
  );
  line-height: 1;
  height: 1.8em;
  padding: 0.25em 1em;
  text-align: center;
  transition: color 0.2s linear;
  background-color: var(--button-background-color, #{$color-background-ui});
  width: max-content;
  user-select: none;
  appearance: button;
  -webkit-tap-highlight-color: transparent;
  transition: $transition-default $transition-timing;
  transition-property: background, border, color, box-shadow;
  box-shadow: $button-border-focus, $button-border-color, $button-border-hover,
    $button-border-active;

  &:hover {
    --button-background-color: #{color.scale(
        $color-background,
        $lightness: -2.5%
      )};

    --button-hover-border-color: #{color.scale(
        $color-background,
        $lightness: -2.5%
      )};
  }

  &:focus {
    --button-focus-border-color: #{$color-primary};
    outline: 0;
    z-index: 1;
  }

  &:active {
    --button-focus-border-color: transparent;
    --button-active-border-color: rgba(#{hexToRGB($color-ink-lighter)}, 0.2);
    --button-background-color: #{color.scale($color-background, $lightness: -2%)};
  }

  &[aria-expanded='true'] {
    --button-active-border-color: rgba(#{hexToRGB($color-ink)}, 0.2);
    --button-background-color: #{color.scale($color-background, $lightness: -4%)};
    &:hover {
      --button-hover-border-color: transparent;
      --button-background-color: #{color.scale(
          $color-background,
          $lightness: -6.5%
        )};
    }
    &:hover:active {
      --button-hover-border-color: var(--button-active-border-color);
    }
  }

  &:disabled {
    background-color: $color-sky;
  }
}

.button,
button {
  @extend %button;

  &.inverted {
    --button-color: #{invert($color-text)};
    --button-background-color: #{invert($color-background-ui)};
  }

  &_large {
    font-size: font-size(medium);

    @media (--medium) {
      font-size: font-size(medium);
    }
  }

  &.span,
  &:not([href]) {
    &:hover {
      color: inherit;
    }
  }

  &--label {
    position: relative;
    user-select: none;
    text-transform: lowercase;
  }

  &--sub-label {
    font-size: 0.8em;
    color: $color-ink-lighter;
    &::before {
      content: ':';
      font-size: 1.2em;
      margin: 0 0.8ch 0 0;
    }
  }
}
