@use 'config' as *;

.card {
  background-color: var(--color-background, var(--color-background-ui));
  border-radius: $radius;
  padding: var(--spacing-base) var(--spacing-loose);
  box-shadow: shadow(3);
  box-shadow: rgba($color-black, 12%) 0 rem(3px) rem(16px) rem(-6px),
    rgba($color-black, 8%) 0 rem(3px) rem(4px) rem(-2px);
}

.card\:full {
  border-top-left-radius: var(--gutter);
  border-top-right-radius: var(--gutter);
  box-shadow: rgba($color-black, 12%) 0 rem(-18px) rem(18px) rem(-18px);
  background-color: var(--color-background, var(--color-background-ui));

  & + & {
    margin-top: calc(var(--gutter) * -1);
  }
}

.col.card {
  background-color: #f8f9fa;
  box-shadow: none;
}
