.site-footer {
  background: inherit;
  font-size: font-size(extra-small);
  height: 100vh;
  width: 100%;
  padding: var(--gutter);
  grid-template-rows: auto min-content;
  grid-auto-rows: auto;
  row-gap: var(--gutter);

  @media (--tablet-up) {
    align-content: space-evenly;
  }

  > * {
    grid-row: 2;
  }

  &__contact {
    grid-row: 1;
    grid-column-start: wide;
    align-self: end;

    @media (--tablet-up) {
      align-self: center;
    }
  }

  &__nav {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: start;

    @media (--tablet-up) {
      flex-flow: column nowrap;
    }
  }

  > p {
    font-size: font-size(extra-small);
    color: $color-sky-darker;
    justify-self: center;
    grid-row: auto;
  }

  .newsletter {
    grid-row: auto;
    align-self: end;
    justify-self: center;
    @media (--tablet-up) {
      grid-column: 4;
    }
  }
}
