.site-footer {
  background: inherit;
  font-size: font-size(extra-small);
  height: 100vh;
  width: 100%;
  align-content: space-evenly;
  padding: var(--gutter);
  grid-template-rows: auto min-content;

  > * {
    grid-row: 2;
  }

  &__contact {
    grid-column-start: wide;
    grid-row: 1;
    align-self: center;
  }

  &__nav {
    grid-column: 2 / span 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    > a {
      display: inline-flex;
      justify-content: flex-start;

      + a {
        margin-top: 0.5em;
      }
    }
  }

  > p {
    font-size: font-size(extra-small);
    color: $color-sky-darker;
    justify-self: center;
  }

  .newsletter {
    grid-column: 4;
  }
}
