@use 'config' as *;

$gallery-index: (caption, images);

.gallery {
  display: grid;
  gap: var(--spacing-block) var(--gutter);
  grid-auto-columns: 1fr;

  @media (--tablet-up) {
    grid-auto-flow: column;
  }

  > img,
  > video {
    width: 100%;
  }

  figcaption {
    @include effect-exclusion($color-ink);

    position: sticky;
    z-index: z-index(caption, $gallery-index);
    grid-row: 1;
    top: var(--gutter);
    left: 0;
    padding: 0 var(--gutter);

    @media (--tablet-up) {
      width: 100%;
      top: calc(var(--spacing-block) - 1.2em);
      z-index: z-index(caption, $gallery-index);
      max-width: rem(474px);
    }

    .counter {
      // @include text-style-caption();
      font-family: $font-stack-monospace;
      font-size: 0.88em;
      letter-spacing: 0.25em;

      display: flex;
      align-items: baseline;
      justify-content: flex-start;

      .sep {
        font-size: 0.75em;
        font-weight: 700;
      }
    }
  }

  &.devices {
    background-color: #f6f7f8;
    padding: var(--spacing-block) calc(var(--spacing-block) / 2);
    gap: var(--gutter) calc(var(--spacing-block) / 2);
    justify-content: space-evenly;

    img {
      border-radius: $radius;
      filter: drop-shadow(0px 0px 12px rgba(0 0 0 / 8%));
    }

    & + .devices {
      margin-top: calc(var(--spacing-block) * -2);
    }

    @media (--mobile) {
      overflow: auto;
      grid-auto-flow: column;
      grid-auto-columns: 80vmin;
      grid-template-columns: 80vmin;
      grid-template-rows: 1fr;
      align-items: start;
      justify-content: start;

      > * {
        grid-row: 1;
      }

      figcaption,
      img:first-of-type {
        grid-column: 1;
      }

      &::after {
        content: '';
        grid-column-start: auto;
        grid-row: 1;
        height: 100%;
        width: 0.1px;
      }
    }
  }

  &.grid\:2 {
    display: grid;
    grid-template-columns: minmax(auto, #{5 / 12 * 100%});
    grid-auto-columns: minmax(auto, #{5 / 12 * 100%});
    justify-content: space-between;
    align-items: start;
    grid-template-rows: 1fr auto 1fr;

    @media (--mobile) {
      grid-auto-flow: column;
      grid-auto-columns: 80vmin;
      grid-template-columns: 80vmin;
      grid-template-rows: 1fr;
      padding: 0 var(--gutter);
      justify-content: start;
    }

    > figcaption,
    > *:nth-child(2) {
      grid-column: 1;
    }

    &::before,
    &::after {
      grid-row: 1;
    }

    &::before {
      grid-column: 1;
      grid-row: 1;
    }

    &::after {
      grid-column-start: auto;
      grid-row: 1;
      height: 100%;
      width: 0.1px;
    }

    > *:not(figcaption) {
      grid-column: auto / span 1;
      z-index: z-index(images, $gallery-index);
      grid-row: 1;

      @media (--tablet-up) {
        grid-row: 2;
      }
    }
  }

  &.grid\:3 {
    display: grid;
    gap: $spacing-base var(--gutter);
    grid-column: full;

    @media (--mobile) {
      grid-template-columns: repeat(9, 25vmin) 12.5vmin;
      overflow: auto;
      scroll-behavior: smooth;
      grid-auto-flow: column;

      &::after {
        content: '';
        grid-row: 1;
      }
    }

    @media (--tablet-up) {
      grid-template-columns: repeat(12, 1fr);
    }

    > *:not(figcaption) {
      grid-column-end: span 9;
    }

    figcaption {
      grid-row: -1 / span 1;
      grid-column: -5 / span 4;
    }

    &.caption-left {
      *:not(figcaption) {
        grid-column-start: 4;
      }

      figcaption {
        grid-column: 1 / span 4;
      }
    }
  }

  @media (--tablet-up) {
    &.grid\:ls {
      display: grid;
      grid-template-rows: repeat(3, auto);
      gap: var(--spacing-block) var(--gutter);
      grid-template-columns: 7fr 4fr;
      justify-items: center;
      align-items: center;

      > *:nth-child(3) {
        grid-column-end: span 2;
      }
    }

    &.grid\:close {
      display: grid;
      grid-template-rows: repeat(3, auto);
      gap: var(--spacing-block) var(--gutter);
      grid-template-columns: repeat(12, 1fr);
      justify-items: center;
      align-items: center;

      > *:first-child {
        grid-column: 2 / span 4;
        margin-top: var(--spacing-block);
      }

      > *:nth-child(2) {
        margin-top: calc(var(--spacing-block) * -2);
        grid-row: 2;
        grid-column: -1 / -6;
      }

      > *:nth-child(3) {
        grid-row: 3;
        grid-column: 5 / span 5;
      }
    }

    &.grid\:bmw {
      display: grid;
      gap: var(--spacing-block) var(--gutter);
      grid-template-columns: repeat(12, 1fr);
      justify-items: center;
      align-items: center;

      > * {
        width: 100%;
      }

      video,
      img {
        grid-column: 3 / span 8;
      }

      img:nth-of-type(1),
      img:nth-of-type(3) {
        grid-column: 1 / span 7;
      }

      img:nth-of-type(2) {
        grid-column: 6 / span 7;
      }

      video {
        grid-column: 3 / span 8;
      }
    }

    &.grid\:rotterdam {
      display: grid;
      gap: var(--spacing-block) var(--gutter);
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
      align-items: end;
      grid-auto-flow: row;
      padding-right: 25%;
      margin-bottom: calc(var(--spacing-block) * -1);

      img {
        grid-column-end: span 3;
        width: 100%;
        max-width: max-content;
      }

      img:first-of-type,
      img:last-of-type {
        grid-column-end: span 1;
        width: auto;
        height: 66%;
      }
    }
  }
}

.device {
  border-radius: $radius;
  filter: drop-shadow(0px 0px 12px rgba(0 0 0 / 8%));

  img {
    border-radius: $radius;
    filter: drop-shadow(0px 0px 12px rgba(0 0 0 / 8%));
  }
}

.carousel {
  display: grid;
  grid-auto-columns: auto;
  gap: $spacing-base var(--gutter);
  position: relative;
  width: auto;
  grid-template-rows: 75vh auto;
  align-items: start;
  justify-items: center;
  align-content: start;
  justify-self: center;

  > img {
    grid-row: 1;
    grid-column: 1;
    width: auto;
    height: 100%;
    cursor: e-resize;
  }

  figcaption {
    grid-row: 2;
    grid-column: 1;
    mix-blend-mode: normal;
    color: var(--color-text-sub);
    margin-bottom: 0;
    justify-self: start;
    top: 0;
    position: relative;
  }

  .hidden {
    animation: fade 0.2s linear forwards reverse;
  }

  &.device {
    filter: none;
    border-radius: 0;
  }

  .block & {
    height: 100%;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
