:root {
  --gutter: #{$gutter-sm};
  --spacing-base: #{$spacing-base};
  --spacing-loose: #{$spacing-loose};
  --spacing-block: #{$spacing-block};

  --color-background: #{$color-background};
  --color-background-overlay: #{$color-background-overlay};
  --color-background-overlay-rgb: #{hexToRGB($color-background-overlay)};
  --color-background-ui: #{$color-background-ui};
  --color-primary: #{$color-primary};
  --color-text: #{$color-text};
  --color-link: #{$color-link};

  @media (--tablet-up) {
    --gutter: #{$gutter};
    --spacing-block: #{$spacing-block * 2};
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

html,
body,
button {
  @include text-style-medium;
}

html {
  position: relative;
  font-size: ($base-font-size / $default-browser-font-size) * 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-background;

  &[data-showing-overlay='true'] {
    backface-visibility: hidden;
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  background-color: $color-background;
}

.grid {
  display: grid;
  // prettier-ignore
  grid-template-columns:
    [full-start first] $spacing-base
    [wide-start main-start] minmax(auto, 8fr) [main-end
    last wide-end] $spacing-base
    [full-end];
  grid-auto-rows: auto;
  gap: 0 var(--gutter);
  align-items: start;

  @media (--tablet-up) {
    // prettier-ignore
    grid-template-columns:
      [full-start first] minmax(#{$spacing-extra-loose / 2}, 1fr)
      [main-start wide-start] minmax(auto, 8fr) [main-end
      last wide-end] minmax(#{$spacing-extra-loose / 2}, 1fr)
      [full-end];
  }

  @media (--desktop-up) {
    // prettier-ignore
    grid-template-columns:
      [full-start first] $spacing-base
      [wide-start] 2fr
      [main-start] minmax(auto, 8fr) [main-end
      last] 2fr
      [wide-end] $spacing-base
      [full-end];
  }

  > * {
    grid-column: main;
  }

  > .grid-full {
    grid-column: 1 / -1;
    padding: 12.5vmin 0;

    @media (--tablet-up) {
      padding: 25vmin 0;
    }
  }
}

.grid\:2 {
  --padding: var(--gutter);

  display: grid;
  gap: $spacing-base var(--gutter);
  grid-template-columns: 80vmin;
  grid-auto-columns: 80vmin;
  justify-content: space-between;

  :not(.grid\:main) {
    @media (--mobile) {
      overflow: auto;
    }
  }

  @media (--tablet-up) {
    // --padding: calc(var(--gutter) + #{$spacing-base});

    // grid-template-columns:
    //   [img] var(--padding) [caption] 5fr var(--gutter)
    //   calc(2 / 12 * 100% + var(--gutter))
    //   [img] var(--gutter) [caption] 5fr var(--padding);

    grid-template-columns: repeat(2, minmax(auto, #{5 / 12 * 100%}));
    // grid-template-columns: minmax(auto, #{5 / 12 * 100%});
    // grid-auto-columns: minmax(auto, #{5 / 12 * 100%});
    // grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    // grid-auto-columns: minmax(auto, 1fr);
    justify-content: center;
    justify-items: center;
  }

  // &.grid\:main {
  //   @media (--tablet-up) {
  //     grid-template-columns: repeat(2, minmax(#{rem(240px)}, #{rem(320px)}));
  //   }
  // }

  > :not(figcaption) {
    grid-column: auto / span 1;
  }
}

.full-width,
.grid\:full {
  grid-column: 1 / -1;
}

.grid\:main {
  display: grid;
  grid-column: main;
  // margin-left: calc(var(--gutter) * -1);
  // margin-right: calc(var(--gutter) * -1);
  // width: auto;
  width: auto;
  // justify-content: space-between;
}
