@use 'sass:color';
:root {
  --gutter: #{$gutter};
  --spacing-base: #{$spacing-base};
  --spacing-loose: #{$spacing-loose};
  --spacing-block: #{$spacing-block * 2};

  --color-background: #{$color-background};
  --color-background-overlay: #{$color-background-overlay};
  --color-background-overlay-rgb: #{hexToRGB($color-background-overlay)};
  --color-background-modal: #{$color-background-overlay};
  --color-background-ui: #{$color-background-ui};
  --color-primary: #{$color-primary};
  --color-text: #{$color-text};
  --color-link: #{$color-link};

  @media (--tablet-down) {
    --gutter: #{$gutter / 2};
    --spacing-block: #{$spacing-block};
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

html,
body,
button {
  @include text-style-medium;
  color: $color-text;
  letter-spacing: -0.04em;
}

html {
  position: relative;
  font-size: ($base-font-size / $default-browser-font-size) * 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background, #{$color-background});
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  background-color: var(--color-background);
}

.bg-inverted {
  background-color: var(
    --color-background-inverted,
    #{invert($color-background)}
  );
  color: invert($color-text);
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}
