.grid {
  display: grid;
  // prettier-ignore
  grid-template-columns:
    [full-start] var(--gutter)
    [wide-start] 1fr 1fr
    [main-start] repeat(4, 1fr)
    [center] repeat(4, 1fr)
    [main-end] 1fr 1fr
    [wide-end] var(--gutter)
    [full-end];
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  gap: 0 var(--gutter);
  column-gap: var(--gutter);
  align-items: start;
  align-content: start;

  > * {
    grid-column: wide;

    @media (--tablet-up) {
      grid-column: main;
    }
  }

  > .grid-full {
    grid-column: 1 / -1;
    padding: 12.5vmin 0;

    @media (--tablet-up) {
      padding: 25vmin 0;
    }
  }
}

.grid\:2 {
  --padding: var(--gutter);

  display: grid;
  gap: $spacing-base var(--gutter);
  grid-template-columns: var(--gutter);
  grid-auto-columns: calc(75vmin - var(--gutter));
  scroll-behavior: smooth;
  // justify-content: space-between;

  &:not(.grid\:main) {
    @media (--mobile) {
      grid-auto-flow: column;
      overflow: auto;
      grid-template-columns: 12.5vmin 80vmin;

      &::after,
      &::before {
        content: '';
        width: var(--gutter);
      }
    }
  }

  @media (--tablet-up) {
    grid-template-columns: repeat(2, minmax(auto, #{5 / 12 * 100%}));
    grid-auto-columns: minmax(auto, #{5 / 12 * 100%});
    justify-content: center;
    justify-items: center;
  }

  > :not(figcaption) {
    grid-column: auto / span 1;
  }
}

.full-width,
.grid\:full {
  grid-column: 1 / -1;
}

.grid\:wide {
  grid-column: wide;
}

.grid\:main {
  grid-column: main;
  width: auto;
}
