@use 'sass:color';
@use 'config' as *;

.jobs-cta {
  position: relative;
  text-decoration: none;
  cursor: help;
  display: inline-block;

  &::after {
    content: '*';
    display: inline;
    color: var(--color-background);
    font-size: 0.75em;
    position: relative;
    margin-left: -0.5ex;
  }
}
.job-cta {
  position: absolute;
  z-index: z-index(body);
  display: block;
  width: 140px;
  font-size: font-size(medium);
  transform-origin: 50% 47.5%;
  transition: $transition-slow $transition-timing;
  transition-property: opacity, transform;
  transform: translate(51%, -73%);

  #asterisks {
    fill: #ff0000;
  }

  #curve {
    transition: $transition-slow $transition-timing;
    transition-property: opacity, transform;
    transform-origin: center;

    :not(:hover) & {
      transform: scale(0.01);
    }
  }

  #jobText {
    fill: #ff0000;
    animation: rotateText infinite 3s linear;
    transform-origin: center;
    letter-spacing: 0.025em;
    transition: $transition-slow $transition-timing;
    transition-property: opacity, transform;
    :not(:hover) & {
      opacity: 0;
    }
  }
}
@keyframes rotateText {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
