@use 'config' as *;

.list {
  background: inherit;
  position: relative;
  width: 100%;
  margin: $spacing-block 0;

  @media (--tablet-up) {
    margin-top: $spacing-block * 2;
    margin-bottom: $spacing-block * 2;
  }

  .list--title {
    mix-blend-mode: difference;
    position: sticky;
    // top: $spacing-loose * 2;
    top: calc(25% - 1.2em);
    margin: 0;
    z-index: 0;

    h3 {
      @include text-style-large;

      color: invert($color-primary);
      position: relative;
      width: auto;
      display: inline-block;
    }
  }

  ol,
  ul {
    padding-bottom: 1em * line-height(small);

    @media (--tablet-up) {
      margin-left: calc(2 / 12 * 100% - var(--gutter));
    }
  }
}
