@use 'config' as *;

.list {
  background: inherit;
  position: relative;
  width: 100%;
  margin: $spacing-block 0;

  @media (--tablet-up) {
    margin-top: $spacing-block * 2;
    margin-bottom: $spacing-block * 2;
    padding-left: calc(3 / 12 * 100% - var(--gutter));
  }

  .list--title {
    mix-blend-mode: difference;
    position: sticky;
    top: calc(25% - 1.2em);
    z-index: 0;
    margin: 0;
    margin-bottom: 1em;

    @media (--tablet-up) {
      margin: 0;
      margin-left: calc(3 / 12 * -100% - var(--gutter));
    }

    h3 {
      @include text-style-large;

      color: var(--color-text-sub-inverted);
      position: relative;
      width: auto;
      display: inline-block;
    }
  }

  ol,
  ul {
    padding-bottom: 1em * line-height(small);
  }
}
