body[data-showing-overlay='true'] {
  overflow: hidden;
  backface-visibility: hidden;
}

[data-showing-modal='true'] {
  overflow: hidden;
  backface-visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: z-index(layer);
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  scroll-behavior: smooth;
  contain: layout;
  will-change: transform;
  backface-visibility: hidden;
  padding: var(--gutter) 0;

  &[data-visible='true'] {
    pointer-events: auto;
    visibility: visible;
  }

  &[data-disabled='true'] {
    pointer-events: none;
  }

  &--body {
    background-color: $color-background;
    grid-column: full;
    border-radius: var(--border-radius-large);
    background-color: $color-background;
    box-shadow: shadow(2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: var(--spacing-block);
    margin-bottom: var(--gutter);
  }

  &--body > .wrapper {
    margin-top: 0 !important;
  }
}

[data-showing-modal='true'] {
  background-color: rgba(var(--color-background-overlay-rgb), 0.5);

  > .wrapper {
    transform: scale(0.9);
    filter: saturate(140%) blur(#{rem(3px)});
  }
}

.animation\:scaleInDown {
  animation-name: scaleInDown;
  animation-duration: var(--animation-duration-slow) !important;
  animation-timing-function: ease-in-out;
}

.animation\:scaleOutUp {
  animation-name: scaleInDown;
  animation-direction: reverse;
  animation-duration: calc(var(--animation-duration-slow)) !important;
  animation-timing-function: ease-in-out;
}

@keyframes scaleInDown {
  from {
    transform: none;
    filter: none;
  }
  to {
    transform: scale(0.9);
    filter: saturate(60%) blur(#{rem(3px)});
  }
}

.animation\:slideInUp {
  animation-duration: calc(var(--animation-duration-slow) * 2) !important;
  animation-name: slideInUp;
}

.animation\:slideOutDown {
  animation-name: slideInUp;
  animation-direction: reverse;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: none;
  }
}
