.nav-main {
  position: fixed;
  z-index: z-index(navigation);
  bottom: calc(var(--gutter) * 2);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: rgba($color-black, 12%) 0 2px 4px;
  border-radius: 99999em;
  background-color: white;
  // background-color: red;

  @media (--mobile) {
    transform-origin: 0 100%;
    transform: rotate(90deg) translateX(-100%);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .button {
    padding-left: 0.8em;
    padding-right: 0.8em;

    & + .button:not(:first-of-type):not(:last-of-type) {
      border-left-color: #f3f2f1;
      border-radius: 0;
    }

    &:first-of-type {
      padding-left: 1em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-of-type {
      padding-right: 1em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .button_nav {
    border-color: $color-white;
  }

  .close {
    position: absolute;
    top: calc(var(--gutter) * -2);
    left: 0;
  }
}
.nav-projects {
  visibility: hidden;
  display: none;
}
.close {
  margin-bottom: auto;
  transition: opacity 0.25s linear;

  @at-root :not(.overlay-visible) & {
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
  }

  .overlay-visible & {
    pointer-events: auto;
    visibility: visible;
  }

  &::before,
  &::after {
    border: 0.0625em solid currentColor;
    position: absolute;
    left: $spacing-loose * -1.25;
    font-size: rem(16px);
    width: 1.68em;
    height: 1.68em;
    padding: 0.34em;
    border-radius: 100%;
    transform: rotate(45deg);
    display: flex;
  }

  &::before {
    content: '';
  }

  &::after {
    content: '↜';
    border: none;
    align-items: center;
    justify-content: center;
  }
}
