$nav-index: main, projects;
.site-header {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding: var(--gutter);
  transition: $transition-default $transition-timing;
  transition-property: background, backdrop-filter;
  z-index: z-index(navigation);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column-reverse nowrap;
  will-change: background-color, backdrop-filter;
  background-color: rgba(var(--color-background-overlay-rgb), 0);
  backdrop-filter: saturate(100%) blur(0);

  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, max-content) minmax(
      auto,
      1fr
    );
  justify-content: start;
  justify-items: center;
  grid-auto-rows: auto;
  align-content: end;

  &[data-showing-overlay='true'] {
    pointer-events: auto;
    background-color: rgba(var(--color-background-overlay-rgb), 0.6);
    backdrop-filter: saturate(140%) blur(#{rem(6px)});
  }

  > * {
    grid-column: 2;
  }
}

nav {
  li {
    list-style: none;
  }
}

.nav-main {
  z-index: z-index(main, $nav-index);
  pointer-events: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: rgba($color-black, 12%) 0 2px 4px;
  border-radius: 99999em;
  background-color: white;

  @media (--mobile) {
    left: var(--gutter);
    transform-origin: 0 0;
    transform: rotate(90deg);
    transform: none;
    bottom: auto;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .button {
    --button-border-color: transparent;
    flex: 0 1 auto;
    padding-left: 0.8em;
    padding-right: 0.8em;

    & + .button {
      &:not(:last-of-type) {
        border-radius: 0;
      }

      // separator
      &:before {
        content: '';
        width: 1px;
        background-color: $color-sky;
        position: relative;
        left: -0.8em;
        height: 1.8em;
      }
    }

    &:first-of-type {
      padding-left: 1em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-of-type {
      padding-right: 1em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .close {
    position: absolute;
    top: calc(var(--gutter) * -2);
    left: 0;
  }
}

.nav-projects {
  display: flex;
  flex-flow: column nowrap;
  z-index: z-index(projects, $nav-index);
  margin-bottom: 0.5rem;
  pointer-events: auto;
  transition: $transition-fast $transition-timing;
  transition-property: opacity, visibility, transform;
  transform: translate3d(0, 0, 0);
  width: 100%;
  order: -1;

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    // transition-delay: $transition-fast;
    transform: translate3d(0, 10%, 0);
  }

  &__dialog.card {
    padding: 0;
    box-shadow: shadow(2);
  }

  ul {
    padding: calc(var(--gutter) * 0.5) 0;
  }

  li {
    border-radius: 3px;
    padding: 0.5em var(--gutter);
    transition: $transition-fast $transition-timing;
    transition-property: background-color, color;
    color: $color-ink;

    &:hover {
      background-color: $color-sky-lighter;
      color: $color-black;
    }

    &.active {
      &::before {
        background: $color-background url('/public/img/hand.svg') no-repeat 0
          (1em * line-height(medium)) / 6;
      }
    }

    a {
      display: block;
    }
  }
}
.close {
  margin-bottom: auto;
  transition: opacity 0.25s linear;

  @at-root :not(.overlay-visible) & {
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
  }

  .overlay-visible & {
    pointer-events: auto;
    visibility: visible;
  }

  &::before,
  &::after {
    border: 0.0625em solid currentColor;
    position: absolute;
    left: $spacing-loose * -1.25;
    font-size: rem(16px);
    width: 1.68em;
    height: 1.68em;
    padding: 0.34em;
    border-radius: 100%;
    transform: rotate(45deg);
    display: flex;
  }

  &::before {
    content: '';
  }

  &::after {
    content: '↜';
    border: none;
    align-items: center;
    justify-content: center;
  }
}
