@use 'config' as *;

.content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1.2em;
  }

  *:not(p) + * {
    margin-top: 1em;
  }

  ul {
    margin: 0 0 1em;

    li {
      list-style: none;
      position: relative;

      &:before {
        position: absolute;
        content: '-';
        left: -1.5ch;
        color: $color-primary;
      }
    }
  }

  .button {
    --button-color: var(--color-text);
    --button-background-color: var(--color-label-background);

    &:hover {
      --button-color: var(--color-text-inverted);
      --button-background-color: var(--color-primary);
    }
  }
}
.page .content {
  > *:not(.block) {
    grid-column: center / wide;
  }
}
