@use 'config' as *;

.page-header {
  grid-column: wide;
  min-height: 75vmin;
  display: grid;
  padding: var(--spacing-block) 0;

  &--text {
    display: flex;
    flex-flow: row wrap;
  }

  &--title {
    margin-bottom: auto;
    color: var(--color-text-sub);
  }
  &--intro {
    align-self: center;
  }
}
