@use 'config' as *;

$z-index: (title, pic);

[data-slug='about'] {
  > .page-content {
    place-content: start;
    padding-top: var(--gutter);
    padding-bottom: calc(var(--spacing-block) * 2);
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    grid-template-areas:
      'pic'
      'main'
      'aside';
    grid-template-columns: 1fr;

    @media (--tablet-up) {
      grid-column: wide;
      grid-template-areas:
        'title . .'
        'main pic .'
        'main aside aside';

      grid-template-columns: 3fr 2fr 1fr;
      column-gap: calc(var(--gutter) * 2);
      width: 100%;
    }

    .page-content--text {
      grid-area: main;
    }

    aside {
      grid-area: aside;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 'friends' 'colophon';
      align-content: start;
      gap: var(--gutter);

      @media (--mobile-up) {
        grid-template-areas: 'colophon friends';
        grid-template-columns: 2fr 1fr;
        column-gap: calc(var(--gutter) * 2);
      }

      .colophon {
        grid-area: colophon;
      }

      .friends {
        @media (--mobile-up) {
          grid-area: friends;
        }
      }
    }
  }

  .portrait {
    align-self: start;
    object-fit: cover;
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
    grid-row: 1;
    margin-top: calc(var(--gutter) * -1);
    margin-bottom: var(--spacing-block);
    margin-left: calc(var(--gutter) * -1);
    margin-right: calc(var(--gutter) * -1);
    min-width: 100vw;
    height: 100vh;
    z-index: z-index(pic, $z-index);
    grid-area: pic;

    @media (--tablet-up) {
      object-fit: cover;
      object-position: 50%;
      margin: 0;
      border-radius: 0;
      min-width: auto;
      height: auto;
    }
  }

  .page-header {
    @media (--mobile-up) {
      grid-template-columns: [main] 2fr [pic] 1fr [aside] 1fr;
    }
  }

  .page-header--title {
    grid-area: pic;
    z-index: z-index(title, $z-index);

    @media (--mobile) {
      grid-row: 1;
      z-index: z-index(body);
      position: sticky;
      top: var(--gutter);
      mix-blend-mode: exclusion;
      color: white;
      margin-bottom: 0;
      margin-top: 0.2em;
      margin-bottom: 2em;
      left: 0;
      font-size: font-size(medium);
    }

    @media (--tablet-up) {
      grid-area: title;
    }
  }

  .page-header--intro {
    margin-top: 0;
  }

  .colophon p > a:not(:hover),
  .friends li > a:not(:hover) {
    border-color: $color-sky-darker;
  }

  .side-projects {
    margin-top: 0;
    background-color: var(--color-background-inverted);
    z-index: z-index(navigation) - 1;

    .section--text {
      grid-column: wide;
      margin-bottom: var(--spacing-block);

      .section--title {
        margin-bottom: 1em;
      }
    }

    @media (--mobile-up) {
      grid-template-columns: repeat(4, 1fr);

      .section--text {
        padding: var(--gutter) 0;
        grid-column: 1;
        align-self: start;
        position: sticky;
        top: var(--gutter);
        z-index: z-index(navigation);
        margin: 0;
      }

      .projects {
        grid-column: 2 / -1;
      }

      .project-item--title {
        font-size: font-size(medium);
      }
    }
  }
}
