.page-item {
  padding: calc(var(--spacing-block) * 0.5) 0;
  height: 100vh;
  gap: 0 var(--gutter);

  > * {
    grid-column: wide / center;

    + * {
      margin-top: 1.5em;
      margin-bottom: 0;
    }
  }

  &--title {
    grid-column-end: span 10;
    max-width: 32ch;
  }
}
