.project-item {
  --ratio: calc(100% / (9 / 16));

  display: grid;
  grid-template-areas:
    'img img'
    'text text';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: stretch;
  border-radius: $radius;
  align-items: end;
  position: relative;
  border-radius: $radius;
  scroll-snap-align: center;
  gap: 0 var(--gutter);

  @media (--landscape) {
    --ratio: calc(100% / (3 / 4));
  }

  @media (--tablet-up) {
    grid-template-areas: 'img text';
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    align-items: center;
  }

  &--text {
    grid-area: text;

    @media (--tablet-up) {
      padding-left: calc(var(--spacing-loose) * 2);
      padding-right: calc(var(--spacing-loose) * 2);
    }
  }

  &--image {
    grid-area: img;

    border-radius: $radius;
    background-color: $color-sky-lighter;
    display: grid;

    picture,
    img {
      position: relative;
      width: 100%;
      height: 100%;
      grid-row: 1;
      grid-column: 1;
      max-width: 100%;
      object-fit: cover;
    }

    &::before {
      content: '';
      width: 100%;
      height: 0.01%;
      padding-bottom: var(--ratio);
      grid-row: 1;
      grid-column: 1;
      background-color: $color-sky-lighter;
      border-radius: $radius;
    }
  }

  &--title,
  &--client {
    margin: 0;
  }

  &--tags {
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  &--client {
    @media (--mobile) {
      margin-top: 1em;
    }
  }

  &--title {
    @media (--mobile) {
      margin-top: 0.25em * line-height(large);
    }
  }
}

@media (--tablet-up) {
  .project-item {
    &.portrait\:2-col {
      grid-template-areas: 'text img';
      grid-template-columns: 1fr 1fr;

      .project-item--body {
        padding-right: calc(var(--spacing-loose) * 2);
      }

      &:nth-of-type(even):not(.page-header) {
        grid-template-areas: 'img text';
        grid-template-columns: 1fr 1fr;

        .project-item--body {
          padding-left: calc(var(--spacing-loose) * 2);
        }
      }
    }

    &.portrait\:1-col {
      --ratio: calc(100% / (9 / 16));

      grid-template-areas: 'text' 'img';
      grid-template-columns: 1fr;
    }

    &.landscape\:1-col {
      --ratio: calc(100% / (16 / 9));

      grid-template-areas:
        'text'
        'img';
      grid-template-columns: 1fr;
      justify-items: start;

      .project-item--body {
        padding: 0;
      }
    }

    &.landscape\:2-col {
      --ratio: calc(100% / (16 / 9));

      grid-template-columns: 5fr 3fr;

      &:nth-of-type(even):not(.page-header) {
        grid-template-columns: 3fr 5fr;
        grid-template-areas: 'text img';
      }
    }
  }
}
