.index {
  .intro {
    // grid-column: wide / last;
    grid-column: wide;
    display: grid;
    grid-template-columns: 7fr 2fr;
    gap: 0 var(--gutter);
    padding: $spacing-loose;

    .button {
      font-size: font-size(medium);
    }
  }
}

.projects {
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--spacing-block) var(--gutter);
  margin-bottom: var(--spacing-block);
  align-items: start;
  justify-items: start;
  margin: 0 calc(var(--gutter) * -1);
  grid-column: 3 / -3;

  @media (--mobile-up) {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--gutter) * 0.5) 8.33333%;
  }

  & + .projects {
    margin-top: var(--spacing-block);
  }
}
