.project-nav {
  @include effect-exclusion;
  mix-blend-mode: exclusion;

  position: fixed;
  top: var(--gutter);
  right: var(--gutter);
  margin-left: auto;
  display: inline-flex;
  justify-content: flex-end;
  z-index: z-index(body);

  .button {
    color: inherit;
  }
}
