.index {
  .intro {
    // grid-column: wide / last;
    grid-column: wide;
    display: grid;
    grid-template-columns: 7fr 2fr;
    gap: 0 var(--gutter);
    padding: $spacing-loose;

    .button {
      font-size: font-size(medium);
    }
  }
}

.projects {
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--spacing-block) var(--gutter);

  align-items: start;
  justify-items: stretch;
  grid-column: full;
  padding: 0 var(--gutter);

  @media (--mobile-up) {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--gutter) * 0.5) (1/12) * 100%;
    grid-column: main;
    padding: 0;
  }

  & + .projects {
    margin-top: var(--spacing-block);
  }
}
