@use 'config' as *;

.project-nav {
  @include effect-exclusion;
  mix-blend-mode: exclusion;

  position: sticky;
  top: var(--gutter);
  padding-top: var(--gutter);
  padding-right: var(--gutter);
  display: inline-flex;
  justify-content: flex-end;
  z-index: z-index(body);
  grid-column: full;
  margin-bottom: -1.7em;

  .button {
    color: inherit;
  }

  .modal & {
    top: calc(-2 * var(--gutter));
  }
}
