@use 'config' as *;

.project-header {
  grid-template-columns: 1fr;
  grid-template-areas:
    'img'
    'text'
    'meta';
  align-items: stretch;
  margin-bottom: var(--spacing-block);
  grid-template-rows: 4 / 3 * 100vmin auto auto;

  border-top-left-radius: $radius-large;
  border-top-right-radius: $radius-large;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;

  @media (--mobile-up) {
    &.portrait\:2-col {
      grid-template-areas:
        'text img'
        'meta img';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100vmin auto;
    }

    &.landscape\:2-col {
      grid-template-areas:
        'meta text'
        'img img';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50vh 50vh;
      align-items: stretch;
    }
  }

  .project-item--text {
    grid-area: text;
    align-self: center;

    display: flex;
    flex-flow: column;
    max-height: 100vh;
    height: 100%;
    padding: var(--gutter);

    @media (--tablet-up) {
      padding: calc(var(--gutter) * 2);
    }

    .project-item--title {
      margin: 1em 0 auto;
    }

    .project-item--client {
      margin-top: 0.25em;

      @media (--mobile) {
        display: none;
      }
    }
  }

  &.landscape\:2-col .project-item--text .project-item--title {
    margin-top: auto;
  }

  .project-item--img {
    grid-area: img;
    border-radius: 0;

    &::before {
      content: unset;
    }
  }

  .project-item--tags {
    align-self: start;
  }

  &--title {
    grid-area: text;
    margin-bottom: 1em * line-height(extra-large);
  }

  &--subtitle {
    margin-bottom: 0.5em;
  }
}

.project-meta {
  grid-area: meta;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  padding: var(--gutter);

  @media (--tablet-up) {
    padding: calc(var(--gutter) * 2);
  }

  > * {
    flex: 1 0 100%;
  }

  .project-item--client {
    --inter-font-weight: 450;

    margin-top: auto;
    margin-bottom: 0.5em;
    // font-size: font-size(small);
  }

  dl {
    margin: 0 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 var(--gutter);

    + * {
      margin-top: 1em;
    }
  }

  dt {
    color: var(--color-text-sub);
  }

  dd {
    color: var(--color-text);
    margin: 0;
    grid-row: 2;
  }
}
