.project-meta {
  grid-column: meta;

  dl {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 var(--gutter);

    + * {
      margin-top: 1em;
    }
  }

  dd {
    margin: 0;
    grid-column-end: span 3;
  }
}

.block {
  position: relative;
  margin-top: var(--spacing-block);
  margin-bottom: var(--spacing-block);

  & + .block {
    margin-top: 0;
  }

  > .block {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.grid\:centered {
    display: grid;
  }

  // &-centered {
  //   display: grid;
  //   align-items: center;
  //   justify-content: center;
  //   grid-template-columns: 80vmin;
  //   grid-auto-columns: 80vmin;

  //   @media (--tablet-up) {
  //     grid-template-columns: minmax(#{rem(240px)}, 20%);
  //   }
  // }
}

.block-embed {
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
}
