.single-body {
  background-color: rgba(var(--color-background-overlay-rgb), 0.6);
  backdrop-filter: saturate(140%) blur(#{rem(6px)});
}

.page-header {
  grid-template-columns: 1fr;
  grid-template-areas:
    'img'
    'text'
    'meta';
  align-items: stretch;
  margin-bottom: var(--spacing-block);

  @media (--tablet-up) {
    grid-template-rows: minmax(auto, 80vh) auto;

    &.portrait\:2-col {
      grid-template-areas: 'text img' 'meta img';
      grid-template-columns: 1fr 1fr;
    }
  }

  .project-item--text {
    grid-area: text;
    align-self: start;

    // position: sticky;
    // top: 0;
    // left: 0;

    display: flex;
    flex-flow: column;
    max-height: 100vh;

    padding: var(--spacing-block) calc(var(--gutter) * 2);
  }

  .project-item--title {
    margin-top: 0.25em;
  }

  .project-item--img {
    grid-area: img;
  }

  .project-item--tags {
    align-self: start;
  }

  .project-meta {
    padding: 0 calc(var(--gutter) * 2);
  }

  &--title {
    grid-area: text;
    margin-bottom: 1em * line-height(extra-large);
  }

  &--subtitle {
    margin-bottom: 0.5em;
  }
}

.project-meta {
  font-family: $font-stack-monospace;
  // grid-column: wide / span 4;
  grid-column: meta;

  dl {
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 var(--gutter);

    + * {
      margin-top: 1em;
    }
  }

  dd {
    margin: 0;
    grid-column-end: span 3;
  }
}

.block {
  position: relative;
  margin-top: var(--spacing-block);
  margin-bottom: var(--spacing-block);

  & + .block {
    margin-top: 0;
  }

  > .block {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.grid\:centered {
    display: grid;
  }

  // &-centered {
  //   display: grid;
  //   align-items: center;
  //   justify-content: center;
  //   grid-template-columns: 80vmin;
  //   grid-auto-columns: 80vmin;

  //   @media (--tablet-up) {
  //     grid-template-columns: minmax(#{rem(240px)}, 20%);
  //   }
  // }
}
