{%- extends "./page.njk" -%}

{%- block bodyClass -%}page page-about{%- endblock -%}

{% block pageContent %}
  {{ super() }}

  <h2>Side projects</h2>
  {% set projects = collections['side-project'] %}
  {% set projectsClass = 'grid:3' %}
  {% include "../projects-list.njk" %}

{% endblock %}