{%- extends "./page.njk" -%}

{%- block bodyClass -%}page page-about{%- endblock -%}

{% block pageHeader %}
{% endblock %}



{% block pageContent %}
  <article class="page-content grid grid:wide">
    {% if thumbnail %}
      {% image thumbnail, 'portrait', 'thumb', 'auto' %}
    {% endif %}

    <div class="page-content--text">
      {% if intro %}
        <h1 class="page-header--title h-l">{{ title }}</h1>
        <h2 class="page-header--intro h-xl">{{ intro }}</h2>
      {% endif %}

      {{ content | safe }}
    </div>

    <aside>
      <div class="aside friends">
        <h3>Friends</h3>
        <ul>
          <li><a target="_blank" href="https://frederiquematti.com">Frederique Matti</a></li>
          <li><a target="_blank" href="https://homerun.co">Homerun</a></li>
          <li><a target="_blank" href="https://jordivanderoord.com">Jordi van der Oord</a></li>
          <li><a target="_blank" href="https://marcvermeeren.com">Marc Vermeeren</a></li>
          <li><a target="_blank" href="https://niekdekker.com">Niek Dekker</a></li>
          <li><a target="_blank" href="https://studiospass.com">Studio Spass</a></li>
        </ul>
      </div>

      <div class="aside colophon">
        <h3>Colophon</h3>
        <p>
          Fonts in use: Inter Variable by Rasmus Anderson, Iosevka Extended by Belleve Invis.
        </p>
        <p>
          Built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, <a href="https://www.snowpack.dev/" target="_blank">Snowpack</a> and <a href="http://threejs.org/" target="_blank">three.js</a>, hosted on <a href="https://netlify.com" target="_blank">Netlify</a>.
        </p>
      </div>
    </aside>
  </article>

<section class="section side-projects bg-inverted grid:full grid">
  <h2 class="section--title">Side Projects</h2>

  {% set projects = collections['side-project'] %}
  {% set projectsClass = 'grid:3 bg-inverted' %}
  {% include "../projects-list.njk" %}
</section>

{% endblock %}