{%- set cssPath = '/assets/scss/app.css' | url -%}
{%- set jsPath = '/assets/app.js' | url -%}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ renderData.title or title }} | {{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="{{ '/site.webmanifest' }}">
    <link rel="apple-touch-icon" href="{{ '/src/img/favicon.svg' }}">
    <link rel="alternate icon" href="{{ '/src/img/favicon.ico' }}">
    <link rel="alternate" href="{{ metadata.feed.path }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="preload" as="font" href="/src/fonts/Inter.var.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/src/fonts/iosevka-ss01-extended.woff2" crossorigin="anonymous">

    {% if env.environment === 'production' %}
      <link rel="preload" as="style" href="{{ cssPath }}">
      <link rel="stylesheet" media="print" href="{{ cssPath }}" onload="this.media='all';">()
    {% endif %}

    <!-- Primary Meta Tags -->
    <meta name="title" content="Erik Gelderblom - Freelance Product Designer and front-end developer based in Rotterdam, The Netherlands">
    <meta name="description" content="For over 15 years I've been working professionally for clients on projects varying from corporate websites, campaign websites, e-commerce platforms, social campaigns, mobile apps and digital products.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://erikgelderblom.com/">
    <meta property="og:title" content="Erik Gelderblom - Freelance Product Designer and front-end developer based in Rotterdam, The Netherlands">
    <meta property="og:description" content="For over 15 years I've been working professionally for clients on projects varying from corporate websites, campaign websites, e-commerce platforms, social campaigns, mobile apps and digital products.">
    <meta property="og:image" content="https://erikgelderblom.com/ogimage.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://twitter.com/erikgelderblom">
    <meta property="twitter:title" content="Erik Gelderblom - Freelance Product Designer and front-end developer based in Rotterdam, The Netherlands">
    <meta property="twitter:description" content="For over 15 years I've been working professionally for clients on projects varying from corporate websites, campaign websites, e-commerce platforms, social campaigns, mobile apps and digital products.">
    <meta property="twitter:image" content="https://erikgelderblom.com/ogimage.png">

    <meta name="theme-color" content="{{ metadata.theme_color }}">
  </head>
  <body class="{%- block bodyClass -%}{%- endblock %} {{- page.data.tags[0] -}} {{- page.data.layout -}}">

    {% block nav %}
      {% include "nav.njk" %}
    {% endblock %}
    <main class="wrapper grid" data-slug="{{ page.fileSlug }}" data-url="{{ page.url }}" data-title="{{ client if client else title }}" data-type="{{ page.filePathStem|taxonomy }}" data-bodyclass="{% block mainClass -%}{%- endblock -%}">

      {% block main %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% block footer %}
      {% include "footer.njk" %}
    {% endblock %}

    {% block modal %}
      <template id="modal">
        <div class="modal">
          <div class="modal--body"></div>
        </div>
      </template>
    {% endblock %}

    <script type="module" src="{{ jsPath }}"></script>
    {% if env.environment === 'production' %}
      {% include "../analytics.njk" %}
    {% endif %}
  </body>
</html>