{%- set cssPath = '/app.css' | url -%}
{%- set jsPath = '/app.js' | url -%}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    <link rel="apple-touch-icon" href="{{ '/static/img/favicon.svg' | url }}">
    <link rel="alternate icon" href="{{ '/static/img/favicon.ico' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="preload" as="font" href="/static/fonts/Inter.var.woff2" crossorigin="anonymous">

    {% if env.environment === 'production' %}
      {% set criticalcss %}
        {% include "../../src/css/critical.css" ignore missing %}
      {% endset %}

      {% if criticalcss|length %}
        <style>
          {{criticalcss|safe}}
        </style>
      {% endif %}

      <link rel="preload" as="style" href="{{ cssPath }}">
    {% endif %}
      <link rel="stylesheet" media="print" href="{{ cssPath }}" onload="this.media='all';">

    <meta name="theme-color" content="{{ metadata.theme_color }}">
  </head>
  <body class="{%- block bodyClass -%}{%- endblock %}{{- page.data.tags[0] -}} {{- page.data.layout -}}">

    {% block nav %}
      {% include "nav.njk" %}
    {% endblock %}
    <main class="wrapper grid {% block mainClass -%}{%- endblock -%}" data-slug="{{ page.fileSlug }}" data-url="{{ page.url }}" data-title="{{ client if client else title }}" data-type="{{ page.filePathStem|taxonomy }}">

      {% block main %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% block footer %}
      {% include "footer.njk" %}
    {% endblock %}

    {% block modal %}
      <template id="modal">
        <div class="modal">
          <div class="modal--body"></div>
        </div>
      </template>
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js" integrity="sha512-yNJzAsg5JyP91u+sLHlUDULMBd3hmEiVkYeeN1cQBKaLZ7EyT6oH2u5THNIRM2Fu6VKcZJv+F/QAp1h/qzy9Ow==" crossorigin="anonymous"defer async></script>
    <script src="{{ jsPath }}"></script>
    {# <script type="module" src="{{ jsPath }}"></script> #}

    {# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4641190-1&aip=1" type="15fc1a45c18dbc577066fcf7-text/javascript"></script>
  <script type="15fc1a45c18dbc577066fcf7-text/javascript">function a(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],a("js",new Date),a("config","UA-4641190-1");</script> #}
  </body>
</html>