{% extends './base.njk' %}

{% import "../page-item.njk" as pageitem %}

{# Get About page content #}
{% set about = false %}
{% set expertise = false %}

{% for item in collections.page %}
  {% if item.fileSlug === 'about' %}
    {% set about = item %}
  {% elif item.fileSlug === 'expertise' %}
    {% set expertise = item %}
  {% endif %}
{% endfor %}

{%- block bodyClass -%}
  home
{%- endblock -%}

{%- block mainClass -%}
  bg-inverted
{%- endblock -%}

{%- set cta -%}
  <abbr aria-label="open to job offers" class="jobs-cta">
    Freelance {%- include "cta-jobs.njk" -%}
  </abbr>
{%- endset -%}

{% block main %}
  {% block pageHeader %}
    {% block intro %}
      <div class="intro grid grid:full">
        <div class="info">
          {% block info %}
            {% if title %}
              <h1 class="h-m">{{ title|replace('Freelance', cta, 1)|safe }}</h1>
            {% endif %}
            {% if about %}
              {% button
                url = about.url,
                label = 'about' if about
                %}
            {% endif %}
          {% endblock %}
        </div>

        <div class="object grid:full"><canvas class="intro"></canvas></div>
      </div>
    {% endblock %}
  {% endblock %}

  {% block projects %}
    {% if projects %}
    <div class="projects-wrapper grid grid:full">
      <div class="projects grid:wide">
        {% for project in projects %}

          {% include "../project-item.njk" %}

          {% if loop.index0 === 2 %}
            </div>
            {{ pageitem.pageItem(expertise) }}
            <div class="projects">
          {% endif %}

        {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endblock %}

{% endblock %}
