{% extends './base.njk' %}

{# Get About page content #}
{% set about = false %}
{% set expertise = false %}

{% for item in collections.page %}
  {% if item.fileSlug === 'about' %}
    {% set about = item %}
  {% elif item.fileSlug === 'expertise' %}
    {% set expertise = item %}
  {% endif %}
{% endfor %}


{% block main %}
  {% block intro %}
    <div class="intro">
      <div class="info">
        {% if title %}
          <h1 class="h-m">{{ title }}</h1>
        {% endif %}

        {{ content|safe }}

        {% if about %}
          {% button
            url = about.url,
            label = 'about' if about
            %}
        {% endif %}
      </div>

      {% include "cta.njk" %}
    </div>
  {% endblock %}

  {% block projects %}
    {% set projects = projects|batch(2) %}
    {% for group in projects %}
      {% set options = {
        projects: group
      } %}

      {% include "../projects-list.njk" %}

      {% if loop.first %}
        {% set options = {
          page: expertise
        } %}

        {% include '../page-item.njk' %}
      {% endif %}

    {% endfor %}
  {% endblock %}
{% endblock %}
