{% extends "./base.njk" %}

{% set bodyClass = 'page' %}


{% block main %}

  {% block projectNav %}
    <nav class="project-nav">
      <a href="{{ '/' | url }}" class="button button_close button_outline inverted" aria-label="close">
        <span class="button--label">close</span>
      </a>
    </nav>
  {% endblock %}

  {{ content | safe }}
{% endblock %}