---
title: Projects
layout: layouts/base.njk
pagination:
  data: collections.project
  alias: projects
  size: 999
---

{% block projects %}
  {% for project in projects %}
      {% include "project-item.njk" %}
  {% endfor %}
{% endblock %}
