---
layout: layouts/base.njk
bodyClass: single
---
<nav class="project-nav">
  <a href="{{ '/' | url }}" class="button button_close button_outline inverted" aria-label="close">
    <span class="button--label">close</span>
  </a>
</nav>
<article class="grid grid-full">

  {% block header %}
    <header class="page-header">
      <h2 class="page-header--subtitle text-sub text-l">{{ client }}</h2>
      <h1 class="page-header--title text-xl">{{ title }}</h1>
    </header>
  {% endblock %}

  {{ content|safe }}
</article>