{% extends "./base.njk" %}

{% set bodyClass = 'single' %}


{% block main %}

  {% block projectNav %}
    <nav class="project-nav">
      <a href="{{ '/' | url }}" class="button button_close button_outline inverted" aria-label="close">
        <span class="button--label">close</span>
      </a>
    </nav>
  {% endblock %}

  {% block projectHeader %}
    {% include "../project-header.njk" %}
  {% endblock %}


    {{ content|safe }}
  </article>
{% endblock %}