---
layout: layouts/base.njk
bodyClass: single
---
<article class="grid grid-full">
  <nav class="project-nav">
    <button aria-label="close" class="button_close inverted">close</button>
  </nav>

  {% block header %}
    <header class="page-header">
      <h2 class="page-header--subtitle text-m">{{ client }}</h2>
      <h1>{{ title }}</h1>
    </header>
  {% endblock %}

  {{ content|safe }}
</article>