{% extends "layouts/base.njk" %}

{%- block bodyClass -%}
  archive
{%- endblock -%}

{% block main %}
  {% block pageHeader %}
    <div class="page-header">
      <h1 class="h-s text-mono">Projects tagged with {{ tag }}</h1>
    </div>
  {% endblock %}

  {% block projects %}
    {% set projects = collections[tag] %}
    {% include "projects-list.njk" %}
  {% endblock %}

{% endblock %}